@import url("https://fonts.googleapis.com/css2?family=Lily+Script+One&family=DM+Sans:wght@400;500;700&family=Dangrek&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

@keyframes btnRotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
body {
  font-family: "DM Sans", sans-serif;
  height: 100vh;
}
body #headerSub {
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.5);
}
body #headerSub .inner {
  width: 1180px;
  height: 100%;
  padding: 0 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
}
body #headerSub .inner h1 a {
  display: block;
  color: #fff;
  font-size: max(20px, 1.5vw);
  font-family: "Lily Script One";
  font-weight: normal;
  white-space: nowrap;
  transition: 0.5s;
}
body #headerSub .inner h1 a i {
  color: lightpink;
  text-shadow: 5px 0 0 lightblue;
  margin-right: 10px;
}
body #headerSub .inner > ul {
  display: flex;
}
body #headerSub .inner > ul li {
  flex: 1;
}
body #headerSub .inner > ul li a {
  display: block;
  padding: 10px;
  color: #fff;
  font-weight: 500;
  font-size: max(16px, 1.5vh);
  white-space: nowrap;
}
body #headerSub .inner > ul#gnb li {
  margin-right: 20px;
}
body #headerSub .inner > ul#gnb li:last-of-type {
  margin-right: 0;
}
body #headerSub .inner .btnCall {
  display: none;
  width: 20px;
  height: 18px;
  position: absolute;
  right: 20px;
  top: 50%;
  z-index: 20;
  transition: 0.5s;
  transform: translateY(-50%);
}
body #headerSub .inner .btnCall span {
  width: 15px;
  height: 2px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -1px;
  background-color: #fff;
  text-indent: -999999px;
}
body #headerSub .inner .btnCall::before {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
  transition: 0.5s;
}
body #headerSub .inner .btnCall::after {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #fff;
  transition: 0.5s;
}
body #headerSub .subMenu {
  background-color: rgba(0, 0, 0, 0.6);
  max-height: 0;
  overflow: hidden;
  transition: 0.5s;
}
body #headerSub .subMenu ul {
  display: flex;
  justify-content: center;
}
body #headerSub .subMenu ul li {
  padding: 20px;
  color: #fff;
  font-size: max(12px, 1.2vh);
}
body #headerSub .subMenu.on {
  max-height: 10vh;
}
body #headerSub .mobileNav {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: #fff;
  transition: all 1s;
  transform: translateY(-100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 80px 20px 30px;
}
body #headerSub .mobileNav ul:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
body #headerSub .mobileNav ul:nth-of-type(1) li a {
  display: block;
  padding: 10px;
  font-size: max(16px, 1.5vh);
  font-weight: 500;
}
body #headerSub .mobileNav ul:nth-of-type(1) li ul {
  margin-bottom: 0;
}
body #headerSub .mobileNav ul:nth-of-type(1) li ul li a {
  font-size: max(12px, 1.2vh);
}
body #headerSub .mobileNav ul:nth-of-type(1) li ul li a::before {
  content: "-";
  margin-right: 5px;
}
body #headerSub .mobileNav ul:nth-of-type(2) {
  display: flex;
  justify-content: center;
}
body #headerSub .mobileNav ul:nth-of-type(2) li a {
  display: block;
  font-size: 12px;
  padding: 0 10px;
  line-height: 1;
  color: #666;
}
body #headerSub .mobileNav ul:nth-of-type(2) li:last-of-type a {
  border-left: 1px solid #666;
}
body .content {
  width: 100%;
  min-height: 90vh;
}
body .content .subVisual {
  width: 100%;
  height: 300px;
  padding-top: 100px;
  background-color: #666;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .content .subVisual .inner {
  width: 1180px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}
body .content .subVisual .inner h1 {
  font-size: max(28px, 3vw);
  color: #fff;
  font-family: "Dangrek";
  line-height: 1;
}
body .content .subVisual .inner a {
  display: inline-block;
  font-size: max(16px, 1.5vh);
  color: #fff;
  font-family: "Dangrek";
  line-height: 1;
  padding: 15px;
}
body .content .subVisual .inner a.on::before, body .content .subVisual .inner a.on::after {
  content: "-";
}
body .content .subVisual .inner p {
  font-size: max(16px, 1.5vh);
  text-align: center;
  color: #fff;
  text-indent: -9999px;
  height: 0;
}
body .content > .inner {
  width: 1180px;
  margin: 0 auto;
}
body #footerSub {
  width: 100%;
  position: relative;
  background-color: #eee;
}
body #footerSub .inner {
  width: 1180px;
  margin: 0 auto;
  padding: 80px 50px;
}
body #footerSub .inner h1 {
  color: #666;
  margin-bottom: 20px;
  font-family: "Lily Script One";
  font-weight: normal;
}
body #footerSub .inner h1 i {
  color: lightpink;
  text-shadow: 5px 0 0 lightblue;
  margin-right: 10px;
}
body #footerSub .inner ul {
  display: flex;
}
body #footerSub .inner ul li {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid #666;
  line-height: 1;
}
body #footerSub .inner ul li a {
  font-size: max(12px, 1.2vh);
  color: #666;
}
body #footerSub .inner ul li:last-of-type {
  border-right: 0;
}
body #footerSub .inner ul li:last-of-type a {
  font-weight: bold;
}
body #footerSub .inner ul.terms {
  margin-bottom: 20px;
}
body #footerSub .inner address {
  font-style: normal;
}
body #footerSub .inner address ul li {
  font-size: max(12px, 1.2vh);
  line-height: 1.5;
  color: #666;
}
body #footerSub .inner address p {
  font-size: max(12px, 1.2vh);
  line-height: 1.5;
  color: #666;
}

@media screen and (max-width: 1179px) {
  body #headerSub {
    width: 100%;
    height: 60px;
  }
  body #headerSub .inner {
    width: 100%;
    padding: 0 20px;
  }
  body #headerSub .inner h1 {
    position: absolute;
    z-index: 20;
  }
  body #headerSub .inner h1.on a {
    color: #000;
  }
  body #headerSub .inner #gnb {
    display: none;
  }
  body #headerSub .inner .util {
    display: none;
  }
  body #headerSub .inner .btnCall {
    display: block;
  }
  body #headerSub .inner .btnCall.on::before {
    background-color: #000;
    margin-top: 1px;
    transform-origin: right center;
    transform: rotate(-45deg);
  }
  body #headerSub .inner .btnCall.on::after {
    background-color: #000;
    margin-bottom: 1px;
    transform-origin: right center;
    transform: rotate(45deg);
  }
  body #headerSub .inner .btnCall.on span {
    opacity: 0;
  }
  body #headerSub .mobileNav {
    width: 100%;
  }
  body #headerSub .mobileNav.on {
    transform: translateY(0);
  }
  body #headerSub .mobileNav ul {
    width: 100%;
  }
  body .content .subVisual {
    width: 100%;
    height: 200px;
    padding-top: 80px;
    background-color: #666;
  }
  body .content .subVisual .inner {
    width: 100%;
    margin: 20px auto 0;
  }
  body .content > .inner {
    width: 100%;
  }
  body #footerSub .inner {
    width: 100%;
  }
}
@media screen and (max-width: 539px) {
  body #footerSub .inner {
    padding: 50px 20px;
  }
  body #footerSub .inner address ul {
    display: block;
    margin-bottom: 5px;
  }
  body #footerSub .inner address ul li {
    border: 0;
  }
}
.about .subVisual {
  background-image: url(../img/sub_visual_about.jpg);
}
.about > .inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 100px 0;
}
.about > .inner .ceo {
  width: 100%;
  min-height: 600px;
  grid-column-start: 1;
  grid-column-end: 3;
  background: url(../img/ceo.jpg) no-repeat center/cover;
  border-radius: 50px;
}
.about > .inner .ceo .pic {
  display: none;
  width: 100%;
  height: 250px;
  border-radius: 50px;
  background: url(../img/ceo.jpg) no-repeat center/cover;
}
.about > .inner .ceo .txt {
  width: 100%;
  height: 100%;
  padding: 100px 50px 50px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}
.about > .inner .ceo .txt h1 {
  font-size: max(20px, 1.5vw);
  line-height: 1;
  padding-bottom: 20px;
  margin-bottom: 20px;
  position: relative;
}
.about > .inner .ceo .txt h1::after {
  content: "";
  width: 50px;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #000;
  transition: 0.5s;
}
.about > .inner .ceo .txt .msg {
  flex: 1;
  width: 50%;
  font-size: max(16px, 1.5vh);
}
.about > .inner .ceo .txt .name {
  align-self: flex-end;
  font-size: max(16px, 1.5vh);
  color: #fff;
}
.about > .inner .ceo:hover .txt h1::after {
  width: 100%;
}
.about > .inner .member {
  height: 250px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
  filter: contrast(0.7);
  transition: 0.5s;
}
.about > .inner .member h2 {
  width: auto;
  position: relative;
  line-height: 1;
  padding-bottom: 20px;
  margin-bottom: 20px;
  font-size: max(20px, 1.5vw);
}
.about > .inner .member h2::after {
  content: "";
  width: 30px;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #000;
  transition: 0.5s;
}
.about > .inner .member p {
  font-size: max(16px, 1.5vh);
}
.about > .inner .member:hover {
  filter: contrast(1);
}
.about > .inner .member:hover h2::after {
  width: 100%;
}
.about > .inner .member:nth-of-type(2) {
  background: url(../img/member1.jpg) no-repeat center/cover;
}
.about > .inner .member:nth-of-type(3) {
  background: url(../img/member2.jpg) no-repeat center/cover;
  margin-right: 0;
}
.about > .inner .member:nth-of-type(4) {
  background: url(../img/member3.jpg) no-repeat center/cover;
}
.about > .inner .member:nth-of-type(5) {
  background: url(../img/member4.jpg) no-repeat top/cover;
  margin-right: 0;
}

@media screen and (max-width: 1179px) {
  .about > .inner {
    padding: 50px 20px;
  }
  .about > .inner .ceo .txt .msg {
    width: 65%;
  }
  .about > .inner .member {
    justify-content: flex-end;
  }
}
@media screen and (max-width: 539px) {
  .about > .inner {
    grid-template-columns: 1fr;
  }
  .about > .inner .ceo {
    grid-column: 1;
    background: none;
  }
  .about > .inner .ceo .pic {
    display: block;
  }
  .about > .inner .ceo .txt {
    height: auto;
    padding: 50px;
    background: none;
  }
  .about > .inner .ceo .txt .msg {
    width: 100%;
  }
  .about > .inner .ceo .txt .name {
    color: #000;
    margin-top: 20px;
  }
}
.gallery .subVisual {
  background-image: url(../img/sub_visual_gallery.jpg);
}
.gallery > .inner {
  padding: 100px 0;
  overflow: hidden;
}
.gallery > .inner .youtube {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.gallery > .inner .youtube article {
  width: 100%;
  padding: 60px 30px;
  border-bottom: 1px solid #999;
  transition: 0.5s;
  display: flex;
  justify-content: space-between;
}
.gallery > .inner .youtube article:first-of-type {
  border-top: 2px solid #999;
}
.gallery > .inner .youtube article:last-of-type {
  border-bottom: 2px solid #999;
}
.gallery > .inner .youtube article a {
  display: block;
  width: 50%;
  border-radius: 50px;
  overflow: hidden;
  position: relative;
  font-size: 0;
}
.gallery > .inner .youtube article a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery > .inner .youtube article a i {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: max(50px, 5vw);
  color: #fff;
  opacity: 0;
  transition: 0.5s;
}
.gallery > .inner .youtube article .con {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.gallery > .inner .youtube article .con h2 {
  width: 100%;
  margin: 20px 0;
  transition: 0.5s;
  transform: translateX(3%);
  position: relative;
}
.gallery > .inner .youtube article .con h2 span {
  display: block;
  width: 95%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: max(28px, 3vw);
  font-family: "Dangrek";
  color: #000;
}
.gallery > .inner .youtube article .con h2::before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: lightblue;
  transform-origin: right;
  transition: 0.5s;
}
.gallery > .inner .youtube article .con h2::after {
  content: "";
  display: block;
  width: 0;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: lightpink;
  transform-origin: right;
  transition: 0.5s;
}
.gallery > .inner .youtube article .con p {
  overflow: hidden;
  padding: 20px;
  font-size: max(16px, 1.5vh);
  color: #666;
  transition: 0.5s;
}
.gallery > .inner .youtube article .con > span {
  display: block;
  padding: 10px 20px 0;
  margin: 20px 0;
  transition: 0.5s;
  font-size: max(12px, 1.2vh);
  text-align: right;
  color: #666;
}
.gallery > .inner .youtube article:hover {
  box-shadow: 0 10px 0 lightblue;
}
.gallery > .inner .youtube article:hover a i {
  opacity: 0.8;
}
.gallery > .inner .youtube article:hover .con h2 {
  transform: translateX(3%) rotate(1deg);
}
.gallery > .inner .youtube article:hover .con h2::before {
  width: 80%;
  transform: translateY(-40%) translateX(-3%) rotate(-5deg);
}
.gallery > .inner .youtube article:hover .con h2::after {
  width: 105%;
  transform: rotate(0deg);
}
.gallery > .inner .youtube article:nth-of-type(even) a {
  order: 2;
}
.gallery > .inner .youtube article:nth-of-type(even) .con {
  order: 1;
}
.gallery > .inner .youtube article:nth-of-type(even) .con h2::before {
  right: auto;
  left: 0;
  transform-origin: left;
}
.gallery > .inner .youtube article:nth-of-type(even) .con h2::after {
  right: auto;
  left: 0;
  transform-origin: left;
}
.gallery > .inner .youtube article:nth-of-type(even):hover .con h2 {
  transform: translateX(3%) rotate(-1deg);
}
.gallery > .inner .youtube article:nth-of-type(even):hover .con h2::before {
  transform: translateY(-40%) translateX(3%) rotate(5deg);
}
.gallery > .inner .youtube article:nth-of-type(even):hover .con h2::after {
  transform: translateX(-3%) rotate(0deg);
}
.gallery > .inner .youtube figure.pop {
  width: 100%;
  height: 100vh;
  padding: 10vw;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery > .inner .youtube figure.pop .wrap {
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}
.gallery > .inner .youtube figure.pop .wrap iframe {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.gallery > .inner .youtube figure.pop .btnClose {
  position: absolute;
  top: 50px;
  right: 50px;
  color: #fff;
  cursor: pointer;
  font-size: max(20px, 1.5vw);
  transform: rotate(45deg);
}

@media screen and (max-width: 1179px) {
  .gallery > .inner {
    padding: 80px 0;
  }
  .gallery > .inner .youtube article {
    flex-direction: column;
    margin-bottom: 80px;
  }
  .gallery > .inner .youtube article a {
    width: 100%;
  }
  .gallery > .inner .youtube article .con {
    width: 100%;
  }
  .gallery > .inner .youtube article .con h2 {
    transform: translateX(3%) rotate(1deg);
  }
  .gallery > .inner .youtube article .con h2::before {
    width: 80%;
    transform: translateY(-40%) translateX(-3%) rotate(-5deg);
  }
  .gallery > .inner .youtube article .con h2::after {
    width: 105%;
    transform: rotate(0deg);
  }
  .gallery > .inner .youtube article:nth-of-type(even) a {
    order: 1;
  }
  .gallery > .inner .youtube article:nth-of-type(even) .con {
    order: 2;
  }
  .gallery > .inner .youtube article:nth-of-type(even) .con h2::before {
    transform: translateY(-40%) translateX(3%) rotate(5deg);
  }
}
@media screen and (max-width: 539px) {
  .gallery > .inner {
    padding: 50px 0;
  }
  .gallery > .inner .youtube article {
    margin-bottom: 50px;
    padding: 20px;
  }
  .gallery > .inner .youtube article .con > span {
    margin: 0 0 20px;
  }
}
.flickr .subVisual {
  background-image: url(../img/sub_visual_gallery.jpg);
}
.flickr #loading {
  width: 100%;
  height: 100%;
  transition: 1s;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flickr #loading p {
  font-family: "Dangrek";
  font-size: 30px;
  color: #fff;
  margin-top: 50px;
}
.flickr #loading.off {
  display: none;
}
.flickr #searchBox {
  width: 100%;
  padding: 30px;
  background-color: lightblue;
}
.flickr #searchBox form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flickr #searchBox form label {
  font-family: "Dangrek";
  font-size: max(16px, 1.5vh);
}
.flickr #searchBox form div {
  position: relative;
}
.flickr #searchBox form div input[type=text] {
  margin-left: 10px;
  font-size: max(12px, 1.2vh);
  padding: 5px 10px;
  line-height: 1.5;
  color: #000;
  border: 1px solid #000;
  border-radius: 20px;
  background-color: transparent;
  resize: none;
  box-shadow: none;
  position: relative;
}
.flickr #searchBox form div input[type=text]:focus {
  background-color: #fff;
  border: 1px solid #fff;
  box-shadow: 0px 4px 0px lightpink;
}
.flickr #searchBox form div button {
  background-color: transparent;
  outline: none;
  border: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-100%, -50%);
}
.flickr > .inner {
  padding: 80px 0;
  overflow: hidden;
}
.flickr > .inner .picList #wrap {
  width: 100%;
  overflow: hidden;
}
.flickr > .inner .picList #wrap #list {
  transform: translateY(100px);
  opacity: 0;
  transition: 1s;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-top: 2px solid #999;
  border-bottom: 1px solid #999;
}
.flickr > .inner .picList #wrap #list::after {
  content: "";
  display: block;
  clear: both;
}
.flickr > .inner .picList #wrap #list li {
  padding: 10px;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
}
.flickr > .inner .picList #wrap #list li:nth-of-type(4n) {
  border-right: 0;
}
.flickr > .inner .picList #wrap #list li div {
  width: 100%;
  padding: 20px 20px 15px;
}
.flickr > .inner .picList #wrap #list li div a {
  width: 100%;
  height: 200px;
  display: block;
  border-radius: 20px;
  overflow: hidden;
}
.flickr > .inner .picList #wrap #list li div a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.flickr > .inner .picList #wrap #list li div p {
  width: 200px;
  overflow: hidden;
  font-family: "Dangrek";
  font-size: max(16px, 1.5vh);
  margin-top: 10px;
  margin-bottom: 30px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.flickr > .inner .picList #wrap #list li div span {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}
.flickr > .inner .picList #wrap #list li div span img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.flickr > .inner .picList #wrap #list li div span strong {
  font-size: max(12px, 1.2vh);
  font-weight: normal;
  color: #999;
}
.flickr > .inner .picList #wrap #list.on {
  transform: translateY(0px);
  opacity: 1;
}
.flickr > .inner .picList aside {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
}
.flickr > .inner .picList aside p {
  font-size: max(20px, 1.5vw);
  font-family: "Dangrek";
  color: #fff;
}
.flickr > .inner .picList aside img {
  max-width: 80%;
  max-height: 80%;
}
.flickr > .inner .picList aside span {
  position: absolute;
  top: 5vw;
  right: 5vw;
  font-size: max(28px, 3vw);
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 1179px) {
  .flickr > .inner {
    padding: 80px 0;
  }
  .flickr > .inner .picList #wrap #list {
    grid-template-columns: 1fr 1fr;
  }
  .flickr > .inner .picList #wrap #list li:nth-of-type(2n) {
    border-right: 0;
  }
}
@media screen and (max-width: 539px) {
  .flickr > .inner {
    padding: 50px 0;
  }
  .flickr > .inner .picList #wrap #list {
    grid-template-columns: 1fr;
  }
  .flickr > .inner .picList #wrap #list li {
    border-right: 0;
  }
}
.membership .subVisual {
  background-image: url(../img/sub_visual_membership.jpg);
}
.membership > .inner {
  width: 1180px;
  margin: 0 auto;
  padding: 100px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.membership > .inner h1 {
  text-align: center;
  font-size: max(16px, 1.5vh);
}
.membership > .inner h1 span {
  display: block;
  font-family: "Dangrek";
  font-size: max(28px, 3vw);
  margin-bottom: 50px;
}
.membership > .inner .wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 100px;
}
.membership > .inner .wrap div p i {
  display: block;
  width: min(15vw, 220px);
  height: min(15vw, 220px);
  margin: 0 auto;
  border-radius: 50%;
  font-size: min(100px, 7vw);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightpink;
}
.membership > .inner .wrap div p span {
  display: block;
  font-family: "Dangrek";
  text-align: center;
  font-size: max(20px, 1.5vw);
  font-weight: bold;
  padding: 2vh 0;
}
.membership > .inner .wrap div.owner p i {
  background-color: lightpink;
}
.membership > .inner .wrap div.shop p i {
  background-color: #666;
}
.membership > .inner .wrap div.arrowRight {
  text-align: center;
  padding: 0 30px 10px 10px;
  margin: 0 30px 50px 20px;
  position: relative;
}
.membership > .inner .wrap div.arrowRight::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #666;
}
.membership > .inner .wrap div.arrowRight::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 25px;
  height: 1px;
  background-color: #666;
  transform-origin: right bottom;
  transform: rotate(45deg);
}
.membership > .inner .wrap div.arrowLeft {
  text-align: center;
  padding: 0 15px 10px 35px;
  margin: 0 20px 50px 30px;
  position: relative;
}
.membership > .inner .wrap div.arrowLeft::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #666;
}
.membership > .inner .wrap div.arrowLeft::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 25px;
  height: 1px;
  background-color: #666;
  transform-origin: left bottom;
  transform: rotate(-45deg);
}
.membership .join {
  width: 100%;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../img/business.jpg) no-repeat fixed center/cover;
}
.membership .join .btnJoin {
  padding: max(10px, 0.5vw) max(25px, 1vw);
  font-size: max(12px, 1.2vh);
  text-align: center;
  font-weight: bold;
  color: #000;
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 100px;
  transition: 0.3s;
  box-shadow: 0px 4px 0px lightblue;
  transform: translateY(-10%);
  cursor: pointer;
  padding: 20px 30px;
  font-size: max(20px, 1.5vw);
  box-shadow: 0px 6px 0px lightpink;
  margin-bottom: 30px;
}
.membership .join .btnJoin:hover {
  background-color: #fff;
  font-weight: bold;
  color: #000;
  box-shadow: none;
  transform: translateY(0%);
}
.membership .join p {
  font-size: max(12px, 1.2vh);
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 1179px) {
  .membership > .inner {
    padding: 50px 0;
  }
}
@media screen and (max-width: 539px) {
  .membership > .inner .wrap {
    flex-wrap: wrap;
  }
  .membership > .inner .wrap div {
    order: 2;
  }
  .membership > .inner .wrap div.owner {
    margin-right: 100px;
  }
  .membership > .inner .wrap div.shop {
    order: 1;
    width: 100%;
  }
  .membership > .inner .wrap div.arrowRight {
    position: absolute;
    transform: translateX(-80%);
    font-size: max(12px, 1.2vh);
    padding-left: 0;
  }
  .membership > .inner .wrap div.arrowRight::before {
    width: 30%;
    left: unset;
    bottom: 80%;
    right: 0;
    transform-origin: right center;
    transform: rotate(-45deg);
  }
  .membership > .inner .wrap div.arrowRight::after {
    width: 10%;
    left: unset;
    bottom: 80%;
    right: 0;
    transform-origin: right center;
    transform: rotate(0);
  }
  .membership > .inner .wrap div.arrowLeft {
    position: absolute;
    transform: translateX(80%);
    font-size: max(12px, 1.2vh);
    padding-right: 0;
  }
  .membership > .inner .wrap div.arrowLeft::before {
    width: 30%;
    right: unset;
    bottom: 80%;
    left: 0;
    transform-origin: left center;
    transform: rotate(45deg);
  }
  .membership > .inner .wrap div.arrowLeft::after {
    width: 10%;
    right: unset;
    bottom: 80%;
    left: 0;
    transform-origin: left center;
    transform: rotate(0);
  }
}
.notice .subVisual {
  background-image: url(../img/sub_visual_notice.jpg);
}
.notice > .inner {
  padding: 100px 0;
}
.notice > .inner .board {
  width: 100%;
  border-top: 2px solid #999;
  border-bottom: 2px solid #999;
  margin-bottom: 100px;
}
.notice > .inner .board li:last-of-type {
  border-bottom: 0;
}
.notice > .inner .board li {
  width: 100%;
  padding: 50px;
  border-bottom: 1px solid #999;
  position: relative;
}
.notice > .inner .board li a {
  display: block;
  width: 100%;
  height: 100%;
}
.notice > .inner .board li a h2 {
  font-size: max(28px, 3vw);
  font-family: "Dangrek";
  transition: 0.5s;
}
.notice > .inner .board li a span {
  display: block;
  font-size: max(12px, 1.2vh);
  color: #666;
  transition: 0.5s;
}
.notice > .inner .board li .img {
  width: 400px;
  height: 60%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  right: 50px;
  z-index: -1;
  border-radius: 20px;
  filter: grayscale(0.8);
  transform: translateY(-50%);
  background-color: lightpink;
  transition: 0.5s;
}
.notice > .inner .board li .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.notice > .inner .board li .img::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, rgb(255, 255, 255), rgba(255, 255, 255, 0));
  opacity: 0;
  transition: 0.5s;
}
.notice > .inner .board li p {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: 0.5s;
}
.notice > .inner .board li:hover .img {
  filter: grayscale(0);
}
.notice > .inner .board li:hover a h2 {
  text-shadow: 0px 4px 0px lightblue;
}
.notice > .inner .board li.on h2 {
  text-shadow: 0px 4px 0px lightblue;
}
.notice > .inner .board li.on span {
  color: #fff;
  margin-bottom: 50px;
}
.notice > .inner .board li.on .img {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  transform: translateY(0);
  filter: grayscale(0);
  border-radius: 0;
}
.notice > .inner .board li.on .img::after {
  opacity: 1;
}
.notice > .inner .board li.on p {
  max-height: 100vh;
}
.notice > .inner .pagination {
  display: flex;
  justify-content: center;
}
.notice > .inner .pagination a {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: max(16px, 1.5vh);
  text-align: center;
  transition: 0.3s;
}
.notice > .inner .pagination a.prev {
  color: #999;
}
.notice > .inner .pagination a.prev:hover {
  color: #666;
  transform: translateX(-15%);
}
.notice > .inner .pagination a.next {
  color: #999;
}
.notice > .inner .pagination a.next:hover {
  color: #666;
  transform: translateX(15%);
}
.notice > .inner .pagination .pageNum {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.notice > .inner .pagination .pageNum li a {
  position: relative;
}
.notice > .inner .pagination .pageNum li a::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.3s;
  background-color: lightpink;
  transform: scaleX(0);
}
.notice > .inner .pagination .pageNum li:nth-of-type(even) a::after {
  background-color: lightblue;
}
.notice > .inner .pagination .pageNum li:hover a {
  font-weight: bold;
}
.notice > .inner .pagination .pageNum li:hover a::after {
  transform: scaleX(1);
}

@media screen and (max-width: 1179px) {
  .notice > .inner {
    padding: 50px 0;
  }
  .notice > .inner .board li .img {
    width: 200px;
  }
  .notice > .inner .pagination .pageNum li:nth-of-type(6) {
    display: none;
  }
  .notice > .inner .pagination .pageNum li:nth-of-type(7) {
    display: none;
  }
  .notice > .inner .pagination .pageNum li:nth-of-type(8) {
    display: none;
  }
  .notice > .inner .pagination .pageNum li:nth-of-type(9) {
    display: none;
  }
  .notice > .inner .pagination .pageNum li:nth-of-type(10) {
    display: none;
  }
}
@media screen and (max-width: 539px) {
  .notice .inner .board li .img {
    width: 0px;
  }
  .notice .inner .pagination .pageNum li:nth-of-type(4) {
    display: none;
  }
  .notice .inner .pagination .pageNum li:nth-of-type(5) {
    display: none;
  }
}
.store .subVisual {
  background-image: url(../img/sub_visual_store.jpg);
}

body {
  font-family: "DM Sans, sans-serif";
  height: 100vh;
}
body #header {
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.5);
}
body #header .inner {
  width: 1180px;
  height: 100%;
  padding: 0 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
}
body #header .inner h1 a {
  display: block;
  color: #fff;
  font-size: max(20px, 1.5vw);
  font-family: "Lily Script One";
  font-weight: normal;
  white-space: nowrap;
  transition: 0.5s;
}
body #header .inner h1 a i {
  color: lightpink;
  text-shadow: 5px 0 0 lightblue;
  margin-right: 10px;
}
body #header .inner > ul {
  display: flex;
}
body #header .inner > ul li {
  flex: 1;
}
body #header .inner > ul li a {
  display: block;
  padding: 10px;
  color: #fff;
  font-weight: 500;
  font-size: max(16px, 1.5vh);
  white-space: nowrap;
}
body #header .inner > ul#gnb li {
  margin-right: 20px;
}
body #header .inner > ul#gnb li:last-of-type {
  margin-right: 0;
}
body #header .inner .btnCall {
  display: none;
  width: 20px;
  height: 18px;
  position: absolute;
  right: 20px;
  top: 50%;
  z-index: 20;
  transition: 0.5s;
  transform: translateY(-50%);
}
body #header .inner .btnCall span {
  width: 15px;
  height: 2px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -1px;
  background-color: #fff;
  text-indent: -999999px;
}
body #header .inner .btnCall::before {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
  transition: 0.5s;
}
body #header .inner .btnCall::after {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #fff;
  transition: 0.5s;
}
body #header .subMenu {
  background-color: rgba(0, 0, 0, 0.6);
  max-height: 0;
  overflow: hidden;
  transition: 0.5s;
}
body #header .subMenu ul {
  display: flex;
  justify-content: center;
}
body #header .subMenu ul li {
  padding: 20px;
  color: #fff;
  font-size: max(12px, 1.2vh);
}
body #header .subMenu.on {
  max-height: 10vh;
}
body #header .mobileNav {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: #fff;
  transition: all 1s;
  transform: translateY(-100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 80px 20px 30px;
}
body #header .mobileNav ul:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
body #header .mobileNav ul:nth-of-type(1) li a {
  display: block;
  padding: 10px;
  font-size: max(16px, 1.5vh);
  font-weight: 500;
}
body #header .mobileNav ul:nth-of-type(1) li ul {
  margin-bottom: 0;
}
body #header .mobileNav ul:nth-of-type(1) li ul li a {
  font-size: max(12px, 1.2vh);
}
body #header .mobileNav ul:nth-of-type(1) li ul li a::before {
  content: "-";
  margin-right: 5px;
}
body #header .mobileNav ul:nth-of-type(2) {
  display: flex;
  justify-content: center;
}
body #header .mobileNav ul:nth-of-type(2) li a {
  display: block;
  font-size: 12px;
  padding: 0 10px;
  line-height: 1;
  color: #666;
}
body #header .mobileNav ul:nth-of-type(2) li:last-of-type a {
  border-left: 1px solid #666;
}
body figure.visual {
  width: 100%;
  height: 100vh;
  position: relative;
}
body figure.visual .inner {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}
body figure.visual .inner .wrap {
  width: 100%;
  height: 100%;
  filter: brightness(90%);
}
body figure.visual .inner .wrap video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body figure.visual .inner .txt {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-shadow: 0 0 10px rgba(143, 0, 55, 0.3);
}
body figure.visual .inner .txt h1 {
  font-weight: normal;
  font-size: max(20px, 1.5vw);
}
body figure.visual .inner .txt h1 span {
  display: block;
  font-family: "Lily Script One";
  font-size: max(50px, 5vw);
  margin: 30px 0;
}
body figure.visual .inner .txt p {
  max-width: 600px;
  font-size: max(16px, 1.5vh);
}
body figure.visual .inner .scroll {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: max(16px, 1.5vh);
  color: #fff;
}
body figure.visual .inner .scroll span {
  margin-bottom: 20px;
}
body figure.visual .inner .scroll i {
  animation: scrollArrow 0.5s linear infinite alternate;
}
body section.banner {
  width: 100%;
  position: relative;
  background-color: #fff;
}
body section.banner .inner {
  width: 1180px;
  margin: 0 auto;
  padding: 100px 30px;
}
body section.banner .inner h1 {
  font-size: max(28px, 3vw);
  font-family: "Lily Script One";
  font-weight: normal;
  text-align: center;
  margin-bottom: 20px;
}
body section.banner .inner h1 i {
  color: lightpink;
  text-shadow: 5px 0 0 lightblue;
  margin-right: 10px;
  text-shadow: 20px 0 0 lightblue;
  margin-right: 20px;
}
body section.banner .inner p {
  font-size: max(16px, 1.5vh);
  text-align: center;
  color: #666;
}
body section.movies {
  width: 100%;
  position: relative;
  background-color: lightpink;
}
body section.movies .inner {
  width: 1180px;
  padding: 100px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
body section.movies .inner article {
  width: 280px;
  padding: 20px 20px 30px;
  background-color: #fff;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  transition: 0.5s;
}
body section.movies .inner article .wrap {
  width: 100%;
  height: 240px;
  margin-bottom: 30px;
  overflow: hidden;
  border-radius: 30px;
}
body section.movies .inner article .wrap video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body section.movies .inner article h2 {
  font-size: max(20px, 1.5vw);
  color: #000;
  line-height: 1;
  font-family: "Dangrek";
  font-weight: normal;
  margin-bottom: 20px;
  text-shadow: 0 -4px 0 lightblue;
}
body section.movies .inner article p {
  font-size: max(12px, 1.2vh);
  color: #999;
  line-height: 1.3;
}
body section.movies .inner article:hover {
  transform: translateY(-3%);
  z-index: 2;
  box-shadow: 0 10px 0 lightblue;
}
body section.movies .inner article.off {
  filter: blur(2px);
}
body section.board {
  width: 100%;
  position: relative;
  background-color: lightblue;
}
body section.board .inner {
  width: 1180px;
  margin: 0 auto;
  padding: 100px 0 150px;
}
body section.board .inner h1 {
  font-size: max(28px, 3vw);
  font-family: "Dangrek";
  text-align: center;
  font-weight: normal;
  text-shadow: 0 -5px 0 lightpink;
  transition: 0.5s;
  margin-bottom: 20px;
}
body section.board .inner ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
body section.board .inner ul li {
  width: 100%;
  display: flex;
  margin-bottom: -50px;
}
body section.board .inner ul li a {
  max-width: 60%;
  padding: 50px;
  font-size: max(16px, 1.5vh);
  background-color: #fff;
  border-radius: 30px;
  position: relative;
  transition: 0.5s;
}
body section.board .inner ul li a::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  margin-top: -5px;
  background-color: #fff;
  transform: rotate(45deg);
}
body section.board .inner ul li a span {
  display: block;
  font-size: max(12px, 1.2vh);
  text-align: right;
  color: #999;
  transform: translate(15px, 25px);
}
body section.board .inner ul li p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: max(12px, 1.2vh);
  transition: 0.5s;
}
body section.board .inner ul li p span {
  display: block;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  transition: 0.5s;
}
body section.board .inner ul li:hover a {
  z-index: 2;
  box-shadow: 0 10px 0 lightpink;
  transform: scale(1.05);
}
body section.board .inner ul li:hover p {
  transform: translateY(10px);
  color: #fff;
  font-weight: bold;
}
body section.board .inner ul li:hover p span {
  transform: scale(2);
  margin-bottom: -10px;
  z-index: -1;
}
body section.board .inner ul li:nth-of-type(1) p span {
  background: url(../img/reviewer1.jpg) no-repeat center/cover;
}
body section.board .inner ul li:nth-of-type(2) p span {
  background: url(../img/reviewer2.jpg) no-repeat center/cover;
}
body section.board .inner ul li:nth-of-type(3) p span {
  background: url(../img/reviewer3.jpg) no-repeat center/cover;
}
body section.board .inner ul li:nth-of-type(4) p span {
  background: url(../img/reviewer4.jpg) no-repeat center/cover;
}
body section.board .inner ul li:nth-of-type(5) p span {
  background: url(../img/reviewer5.jpg) no-repeat center/cover;
}
body section.board .inner ul li:nth-of-type(6) p span {
  background: url(../img/reviewer6.jpg) no-repeat center/cover;
}
body section.board .inner ul li:nth-of-type(odd) {
  justify-content: flex-start;
}
body section.board .inner ul li:nth-of-type(odd) a {
  order: 2;
}
body section.board .inner ul li:nth-of-type(odd) a::before {
  left: -5px;
}
body section.board .inner ul li:nth-of-type(odd) p {
  order: 1;
  margin-right: 30px;
}
body section.board .inner ul li:nth-of-type(even) {
  justify-content: flex-end;
}
body section.board .inner ul li:nth-of-type(even) a {
  order: 2;
  background-color: #f0f0f0;
}
body section.board .inner ul li:nth-of-type(even) a::before {
  right: -5px;
  background-color: #f0f0f0;
}
body section.board .inner ul li:nth-of-type(even) p {
  order: 2;
  margin-left: 30px;
}
body section.slides {
  width: 100%;
  height: 40vh;
  position: relative;
}
body section.slides .bg {
  width: 100%;
  height: 100%;
  background-color: #000;
}
body section.slides .bg div {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 1s;
  position: absolute;
  top: 0;
  left: 0;
}
body section.slides .bg div:nth-of-type(1) {
  background: url(../img/section_slide_bg1.jpg) no-repeat center/cover;
}
body section.slides .bg div:nth-of-type(2) {
  background: url(../img/section_slide_bg2.jpg) no-repeat center/cover;
}
body section.slides .bg div:nth-of-type(3) {
  background: url(../img/section_slide_bg3.jpg) no-repeat center/cover;
}
body section.slides .bg div.on {
  opacity: 1;
}
body section.slides .inner {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1180px;
  height: 100%;
  padding: 5vh 80px;
}
body section.slides .inner div {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
body section.slides .inner div .slider {
  width: 300%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}
body section.slides .inner div .slider article {
  width: 33.3333333333%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body section.slides .inner div .slider article h1 {
  font-size: max(16px, 1.5vh);
  text-align: center;
  color: #000;
  margin-bottom: 30px;
}
body section.slides .inner div .slider article h1 span {
  display: block;
  font-size: max(50px, 5vw);
  font-family: "Lily Script One";
  font-weight: normal;
  text-shadow: 0 5px 0 white;
}
body section.slides .inner div .slider article .viewDetail {
  padding: max(10px, 0.5vw) max(25px, 1vw);
  font-size: max(12px, 1.2vh);
  text-align: center;
  font-weight: bold;
  color: #000;
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 100px;
  transition: 0.3s;
  box-shadow: 0px 4px 0px lightblue;
  transform: translateY(-10%);
  cursor: pointer;
}
body section.slides .inner div .slider article .viewDetail:hover {
  background-color: #fff;
  font-weight: bold;
  color: #000;
  box-shadow: none;
  transform: translateY(0%);
}
body section.slides .inner > a {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
body section.slides .inner > a i {
  font-size: max(28px, 3vw);
  color: #fff;
}
body section.slides .inner > a.btnPrev {
  left: 0;
}
body section.slides .inner > a.btnNext {
  right: 0;
}
body section.contact {
  width: 100%;
  position: relative;
  background-color: lightpink;
}
body section.contact .inner {
  width: 1180px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 100px 0;
}
body section.contact .inner .tabMenu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
body section.contact .inner .tabMenu h1 {
  font-size: max(28px, 3vw);
  font-family: "Dangrek";
  text-align: center;
  font-weight: normal;
  text-shadow: 0 -5px 0 #fff;
  transition: 0.5s;
  letter-spacing: -2px;
  margin-bottom: 30px;
}
body section.contact .inner .tabMenu ul {
  border-radius: 30px;
  background-color: #fff;
  overflow: hidden;
}
body section.contact .inner .tabMenu ul li {
  width: 100%;
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
}
body section.contact .inner .tabMenu ul li i {
  max-height: 0;
  font-size: max(28px, 3vw);
  transition: 0.3s;
  transform: translateY(30%);
  opacity: 0;
}
body section.contact .inner .tabMenu ul li a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: max(16px, 1.5vh);
  text-align: center;
  color: #000;
  font-weight: bold;
  transition: 1s;
}
body section.contact .inner .tabMenu ul li:nth-of-type(2) i {
  transform: translateY(-30%);
}
body section.contact .inner .tabMenu ul li.on {
  background-color: lightblue;
  color: #000;
}
body section.contact .inner .tabMenu ul li.on i {
  max-height: unset;
  transform: translateY(0%);
  opacity: 1;
}
body section.contact .inner .tabMenu ul li.on a {
  margin-top: 20px;
}
body section.contact .inner .tabBody {
  width: 70%;
}
body section.contact .inner .tabBody > div {
  width: 100%;
  height: 0px;
  overflow: hidden;
}
body section.contact .inner .tabBody > div div {
  margin-bottom: 30px;
}
body section.contact .inner .tabBody > div div h2 {
  font-size: max(20px, 1.5vw);
  font-family: "Dangrek";
  margin-bottom: 10px;
}
body section.contact .inner .tabBody > div div p {
  font-size: max(12px, 1.2vh);
  color: #666;
}
body section.contact .inner .tabBody > div div p span {
  margin-right: 10px;
}
body section.contact .inner .tabBody > div.on {
  height: auto;
}
body section.contact .inner .tabBody > div form {
  width: 100%;
}
body section.contact .inner .tabBody > div form h2 {
  font-size: max(20px, 1.5vw);
  font-family: "Dangrek";
  margin-bottom: 10px;
}
body section.contact .inner .tabBody > div form p {
  font-size: max(12px, 1.2vh);
  margin-bottom: 30px;
  color: #666;
}
body section.contact .inner .tabBody > div form ul {
  width: 100%;
}
body section.contact .inner .tabBody > div form ul li {
  width: 100%;
  margin: 10px 0;
}
body section.contact .inner .tabBody > div form ul li::after {
  content: "";
  display: block;
  clear: both;
}
body section.contact .inner .tabBody > div form ul li label {
  float: left;
  width: 19%;
  padding: 10px 0;
  font-size: max(16px, 1.5vh);
  font-weight: bold;
  line-height: 1.5;
  color: #000;
  font-family: "Dangrek";
}
body section.contact .inner .tabBody > div form ul li input, body section.contact .inner .tabBody > div form ul li textarea {
  float: right;
  width: 80%;
  padding: 10px 20px;
  font-size: max(12px, 1.2vh);
  line-height: 1.5;
  color: #000;
  border: 1px solid #000;
  border-radius: 20px;
  background-color: transparent;
  resize: none;
  box-shadow: none;
}
body section.contact .inner .tabBody > div form ul li input:focus, body section.contact .inner .tabBody > div form ul li textarea:focus {
  background-color: #fff;
  border: 1px solid #fff;
  box-shadow: 0px 4px 0px lightblue;
}
body section.contact .inner .tabBody > div form ul li:last-of-type {
  text-align: right;
  padding-top: 20px;
}
body section.contact .inner .tabBody > div form ul li:last-of-type button {
  padding: max(10px, 0.5vw) max(25px, 1vw);
  font-size: max(12px, 1.2vh);
  text-align: center;
  font-weight: bold;
  color: #000;
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 100px;
  transition: 0.3s;
  box-shadow: 0px 4px 0px lightblue;
  transform: translateY(-10%);
  cursor: pointer;
}
body section.contact .inner .tabBody > div form ul li:last-of-type button:hover {
  background-color: #fff;
  font-weight: bold;
  color: #000;
  box-shadow: none;
  transform: translateY(0%);
}
body section.contact .inner .tabBody > div #map {
  width: 100%;
  height: 30vh;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #000;
}
body section.contact .inner .tabBody > div #map * {
  box-sizing: content-box;
  margin: 0;
}
body section.contact .inner .tabBody > div #map .mapInfo {
  width: 100%;
  padding: 10px;
  padding-left: 15px;
}
body section.contact .inner .tabBody > div #map .mapInfo ul li:first-of-type {
  margin-bottom: 10px;
  font-family: "Lily Script One";
  font-size: max(20px, 1.5vw);
  font-weight: bold;
}
body section.contact .inner .tabBody > div #map .mapInfo ul li:first-of-type i {
  color: lightpink;
  text-shadow: 5px 0 0 lightblue;
  margin-right: 10px;
}
body section.contact .inner .tabBody > div #map .mapInfo ul li a {
  display: block;
  text-align: right;
  font-size: max(12px, 1.2vh);
  color: #666;
}
body #footer {
  width: 100%;
  position: relative;
  background-color: #eee;
}
body #footer .inner {
  width: 1180px;
  margin: 0 auto;
  padding: 80px 50px;
}
body #footer .inner h1 {
  color: #666;
  margin-bottom: 20px;
  font-family: "Lily Script One";
  font-weight: normal;
}
body #footer .inner h1 i {
  color: lightpink;
  text-shadow: 5px 0 0 lightblue;
  margin-right: 10px;
}
body #footer .inner ul {
  display: flex;
}
body #footer .inner ul li {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid #666;
  line-height: 1;
}
body #footer .inner ul li a {
  font-size: max(12px, 1.2vh);
  color: #666;
}
body #footer .inner ul li:last-of-type {
  border-right: 0;
}
body #footer .inner ul li:last-of-type a {
  font-weight: bold;
}
body #footer .inner ul.terms {
  margin-bottom: 20px;
}
body #footer .inner address {
  font-style: normal;
}
body #footer .inner address ul li {
  font-size: max(12px, 1.2vh);
  line-height: 1.5;
  color: #666;
}
body #footer .inner address p {
  font-size: max(12px, 1.2vh);
  line-height: 1.5;
  color: #666;
}

@keyframes scrollArrow {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}
@media screen and (max-width: 1179px) {
  body #header {
    width: 100%;
    height: 60px;
  }
  body #header .inner {
    width: 100%;
    padding: 0 20px;
  }
  body #header .inner h1 {
    position: absolute;
    z-index: 20;
  }
  body #header .inner h1.on a {
    color: #000;
  }
  body #header .inner #gnb {
    display: none;
  }
  body #header .inner .util {
    display: none;
  }
  body #header .inner .btnCall {
    display: block;
  }
  body #header .inner .btnCall.on::before {
    background-color: #000;
    margin-top: 1px;
    transform-origin: right center;
    transform: rotate(-45deg);
  }
  body #header .inner .btnCall.on::after {
    background-color: #000;
    margin-bottom: 1px;
    transform-origin: right center;
    transform: rotate(45deg);
  }
  body #header .inner .btnCall.on span {
    opacity: 0;
  }
  body #header .mobileNav {
    width: 100%;
  }
  body #header .mobileNav.on {
    transform: translateY(0);
  }
  body #header .mobileNav ul {
    width: 100%;
  }
  body section.banner .inner {
    width: 100%;
  }
  body section.movies .inner {
    width: 100%;
  }
  body section.movies .inner article {
    width: 46%;
    margin: 2%;
  }
  body section.slides .inner {
    width: 100%;
    padding: 5vh;
  }
  body section.slides .inner a {
    margin: 0 3%;
  }
  body section.board .inner {
    width: 100%;
    padding: 50px 20px 80px;
  }
  body section.board .inner ul li {
    margin-bottom: -30px;
  }
  body section.board .inner ul li a {
    max-width: 70%;
  }
  body section.contact .inner {
    width: 100%;
    padding: 50px 20px;
  }
  body section.contact .inner .tabBody {
    width: 70%;
  }
  body section.contact .inner .tabMenu {
    width: 20%;
  }
  body section.contact .inner .tabMenu ul li {
    padding: 4vw;
  }
  body #footer .inner {
    width: 100%;
  }
}
@media screen and (max-width: 539px) {
  body section.banner .inner {
    padding: 80px 20px;
  }
  body section.movies .inner {
    padding: 50px 20px;
  }
  body section.movies .inner article {
    width: 90%;
    margin: 5%;
  }
  body section.slides .inner a {
    margin: 0 3%;
  }
  body section.board .inner ul li a {
    max-width: 90%;
  }
  body section.board .inner ul li a::before {
    display: none;
  }
  body section.board .inner ul li p {
    position: absolute;
    flex-direction: row;
  }
  body section.board .inner ul li p span {
    margin-right: 10px;
  }
  body section.board .inner ul li:nth-of-type(even) p span {
    order: 2;
    margin-right: 0;
    margin-left: 10px;
  }
  body section.contact .inner {
    flex-wrap: wrap;
  }
  body section.contact .inner .tabBody {
    width: 100%;
    order: 2;
  }
  body section.contact .inner .tabBody div form ul li label {
    float: none;
    display: block;
  }
  body section.contact .inner .tabBody div form ul li input, body section.contact .inner .tabBody div form ul li textarea {
    float: none;
    width: 100%;
  }
  body section.contact .inner .tabMenu {
    width: 100%;
    order: 1;
    margin-bottom: 50px;
  }
  body section.contact .inner .tabMenu ul {
    display: flex;
  }
  body #footer .inner {
    padding: 50px 20px;
  }
  body #footer .inner address ul {
    display: block;
    margin-bottom: 5px;
  }
  body #footer .inner address ul li {
    border: 0;
  }
}

/*# sourceMappingURL=style.css.map */
