@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lily+Script+One&family=DM+Sans:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "DM Sans", sans-serif;
  height: 100vh;
}
body #headerSub {
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.5);
}
body #headerSub .inner {
  width: 1180px;
  height: 100%;
  padding: 0 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
}
body #headerSub .inner h1 a {
  display: block;
  color: #fff;
  font-size: max(20px, 1.5vw);
  font-family: "Lily Script One";
  font-weight: normal;
  white-space: nowrap;
  transition: 0.5s;
}
body #headerSub .inner h1 a i {
  color: lightpink;
  text-shadow: 5px 0 0 lightblue;
  margin-right: 10px;
}
body #headerSub .inner > ul {
  display: flex;
}
body #headerSub .inner > ul li {
  flex: 1;
}
body #headerSub .inner > ul li a {
  display: block;
  padding: 10px;
  color: #fff;
  font-weight: 500;
  font-size: max(16px, 1.5vh);
  white-space: nowrap;
}
body #headerSub .inner > ul#gnb li {
  margin-right: 20px;
}
body #headerSub .inner > ul#gnb li:last-of-type {
  margin-right: 0;
}
body #headerSub .inner .btnCall {
  display: none;
  width: 20px;
  height: 18px;
  position: absolute;
  right: 20px;
  top: 50%;
  z-index: 20;
  transition: 0.5s;
  transform: translateY(-50%);
}
body #headerSub .inner .btnCall span {
  width: 15px;
  height: 2px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -1px;
  background-color: #fff;
  text-indent: -999999px;
}
body #headerSub .inner .btnCall::before {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
  transition: 0.5s;
}
body #headerSub .inner .btnCall::after {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #fff;
  transition: 0.5s;
}
body #headerSub .mobileNav {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: #fff;
  transition: all 1s;
  transform: translateY(-100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 80px 20px 30px;
}
body #headerSub .mobileNav ul:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
body #headerSub .mobileNav ul:nth-of-type(1) li a {
  display: block;
  padding: 10px;
  font-size: max(16px, 1.5vh);
  font-weight: 500;
}
body #headerSub .mobileNav ul:nth-of-type(2) {
  display: flex;
  justify-content: center;
}
body #headerSub .mobileNav ul:nth-of-type(2) li a {
  display: block;
  font-size: 12px;
  padding: 0 10px;
  line-height: 1;
  color: #666;
}
body #headerSub .mobileNav ul:nth-of-type(2) li:last-of-type a {
  border-left: 1px solid #666;
}
body .content {
  width: 100%;
  min-height: 90vh;
}
body .content .subVisual {
  width: 100%;
  height: 300px;
  padding-top: 100px;
  background-color: #666;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
body .content .subVisual .inner {
  width: 1180px;
  margin: 50px auto 0;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
body .content .subVisual .inner h1 {
  font-size: max(28px, 3vw);
  text-align: center;
  color: #fff;
}
body .content .subVisual .inner p {
  font-size: max(12px, 1.2vh);
  text-align: center;
  color: #fff;
}
body .content > .inner {
  width: 1180px;
  margin: 0 auto;
}
body #footerSub {
  width: 100%;
  position: relative;
  background-color: #eee;
}
body #footerSub .inner {
  width: 1180px;
  margin: 0 auto;
  padding: 80px 50px;
}
body #footerSub .inner h1 {
  color: #666;
  margin-bottom: 20px;
  font-family: "Lily Script One";
  font-weight: normal;
}
body #footerSub .inner h1 i {
  color: lightpink;
  text-shadow: 5px 0 0 lightblue;
  margin-right: 10px;
}
body #footerSub .inner ul {
  display: flex;
}
body #footerSub .inner ul li {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid #666;
  line-height: 1;
}
body #footerSub .inner ul li a {
  font-size: max(12px, 1.2vh);
  color: #666;
}
body #footerSub .inner ul li:last-of-type {
  border-right: 0;
}
body #footerSub .inner ul li:last-of-type a {
  font-weight: bold;
}
body #footerSub .inner ul.terms {
  margin-bottom: 20px;
}
body #footerSub .inner address {
  font-style: normal;
}
body #footerSub .inner address ul li {
  font-size: max(12px, 1.2vh);
  line-height: 1.5;
  color: #666;
}
body #footerSub .inner address p {
  font-size: max(12px, 1.2vh);
  line-height: 1.5;
  color: #666;
}

@media screen and (max-width: 1179px) {
  body #headerSub {
    width: 100%;
    height: 60px;
  }
  body #headerSub .inner {
    width: 100%;
    padding: 0 20px;
  }
  body #headerSub .inner h1 {
    position: absolute;
    z-index: 20;
  }
  body #headerSub .inner h1.on a {
    color: #000;
  }
  body #headerSub .inner #gnb {
    display: none;
  }
  body #headerSub .inner .util {
    display: none;
  }
  body #headerSub .inner .btnCall {
    display: block;
  }
  body #headerSub .inner .btnCall.on::before {
    background-color: #000;
    margin-top: 1px;
    transform-origin: right center;
    transform: rotate(-45deg);
  }
  body #headerSub .inner .btnCall.on::after {
    background-color: #000;
    margin-bottom: 1px;
    transform-origin: right center;
    transform: rotate(45deg);
  }
  body #headerSub .inner .btnCall.on span {
    opacity: 0;
  }
  body #headerSub .mobileNav {
    width: 100%;
  }
  body #headerSub .mobileNav.on {
    transform: translateY(0);
  }
  body #headerSub .mobileNav ul {
    width: 100%;
  }
  body .content .subVisual {
    width: 100%;
    height: 200px;
    padding-top: 80px;
    background-color: #666;
  }
  body .content .subVisual .inner {
    width: 100%;
    margin: 20px auto 0;
  }
  body .content > .inner {
    width: 100%;
  }
  body #footerSub .inner {
    width: 100%;
  }
}
@media screen and (max-width: 539px) {
  body #footerSub .inner {
    padding: 50px 20px;
  }
  body #footerSub .inner address ul {
    display: block;
    margin-bottom: 5px;
  }
  body #footerSub .inner address ul li {
    border: 0;
  }
}
.about .subVisual {
  background-image: url(../img/sub_visual_about.jpg);
}
.about > .inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 100px 0;
}
.about > .inner .ceo {
  width: 100%;
  min-height: 600px;
  grid-column-start: 1;
  grid-column-end: 3;
  background: url(../img/ceo.jpg) no-repeat center/cover;
  border-radius: 50px;
}
.about > .inner .ceo .pic {
  display: none;
  width: 100%;
  height: 250px;
  border-radius: 50px;
  background: url(../img/ceo.jpg) no-repeat center/cover;
}
.about > .inner .ceo .txt {
  width: 100%;
  height: 100%;
  padding: 100px 50px 50px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}
.about > .inner .ceo .txt h1 {
  font-size: max(20px, 1.5vw);
  line-height: 1;
  padding-bottom: 20px;
  margin-bottom: 20px;
  position: relative;
}
.about > .inner .ceo .txt h1::after {
  content: "";
  width: 50px;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #000;
  transition: 0.5s;
}
.about > .inner .ceo .txt .msg {
  flex: 1;
  width: 50%;
  font-size: max(16px, 1.5vh);
}
.about > .inner .ceo .txt .name {
  align-self: flex-end;
  font-size: max(16px, 1.5vh);
  color: #fff;
}
.about > .inner .ceo:hover .txt h1::after {
  width: 100%;
}
.about > .inner .member {
  height: 250px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
  filter: contrast(0.7);
  transition: 0.5s;
}
.about > .inner .member h2 {
  width: auto;
  position: relative;
  line-height: 1;
  padding-bottom: 20px;
  margin-bottom: 20px;
  font-size: max(20px, 1.5vw);
}
.about > .inner .member h2::after {
  content: "";
  width: 30px;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #000;
  transition: 0.5s;
}
.about > .inner .member p {
  font-size: max(16px, 1.5vh);
}
.about > .inner .member:hover {
  filter: contrast(1);
}
.about > .inner .member:hover h2::after {
  width: 100%;
}
.about > .inner .member:nth-of-type(2) {
  background: url(../img/member1.jpg) no-repeat center/cover;
}
.about > .inner .member:nth-of-type(3) {
  background: url(../img/member2.jpg) no-repeat center/cover;
  margin-right: 0;
}
.about > .inner .member:nth-of-type(4) {
  background: url(../img/member3.jpg) no-repeat center/cover;
}
.about > .inner .member:nth-of-type(5) {
  background: url(../img/member4.jpg) no-repeat top/cover;
  margin-right: 0;
}

@media screen and (max-width: 1179px) {
  .about > .inner {
    padding: 50px 20px;
  }
  .about > .inner .ceo .txt .msg {
    width: 65%;
  }
  .about > .inner .member {
    justify-content: flex-end;
  }
}
@media screen and (max-width: 539px) {
  .about > .inner {
    grid-template-columns: 1fr;
  }
  .about > .inner .ceo {
    grid-column: 1;
    background: none;
  }
  .about > .inner .ceo .pic {
    display: block;
  }
  .about > .inner .ceo .txt {
    height: auto;
    padding: 50px;
    background: none;
  }
  .about > .inner .ceo .txt .msg {
    width: 100%;
  }
  .about > .inner .ceo .txt .name {
    color: #000;
    margin-top: 20px;
  }
}
.gallery .subVisual {
  background-image: url(../img/sub_visual_gallery.jpg);
}

.membership .subVisual {
  background-image: url(../img/sub_visual_membership.jpg);
}
.membership > .inner {
  width: 1180px;
  margin: 0 auto;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.membership > .inner h1 {
  font-size: max(28px, 3vw);
  text-align: center;
  margin-bottom: 50px;
}
.membership > .inner h1 span {
  display: block;
  font-size: max(16px, 1.5vh);
}
.membership > .inner .wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.membership > .inner .wrap div p i {
  display: block;
  width: 15vw;
  height: 15vw;
  margin: 0 auto;
  border-radius: 50%;
  font-size: 7vw;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
}
.membership > .inner .wrap div p span {
  display: block;
  text-align: center;
  font-size: max(16px, 1.5vh);
  font-weight: bold;
  padding: 2vh 0;
}
.membership > .inner .wrap div.owner p i {
  background-color: #666;
}
.membership > .inner .wrap div.shop p i {
  background-color: lightpink;
}
.membership > .inner .wrap div.arrowRight {
  text-align: center;
  padding: 0 30px 10px 10px;
  margin: 0 30px 50px 20px;
  position: relative;
}
.membership > .inner .wrap div.arrowRight::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #666;
}
.membership > .inner .wrap div.arrowRight::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 25px;
  height: 1px;
  background-color: #666;
  transform-origin: right bottom;
  transform: rotate(45deg);
}
.membership > .inner .wrap div.arrowLeft {
  text-align: center;
  padding: 0 15px 10px 35px;
  margin: 0 20px 50px 30px;
  position: relative;
}
.membership > .inner .wrap div.arrowLeft::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #666;
}
.membership > .inner .wrap div.arrowLeft::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 25px;
  height: 1px;
  background-color: #666;
  transform-origin: left bottom;
  transform: rotate(-45deg);
}

@media screen and (max-width: 1179px) {
  .membership > .inner {
    padding: 50px 0;
  }
}
@media screen and (max-width: 539px) {
  .membership > .inner .wrap {
    flex-wrap: wrap;
  }
  .membership > .inner .wrap div {
    order: 2;
  }
  .membership > .inner .wrap div.owner {
    margin-right: 100px;
  }
  .membership > .inner .wrap div.shop {
    order: 1;
    width: 100%;
  }
  .membership > .inner .wrap div.arrowRight {
    position: absolute;
    transform: translateX(-80%);
    font-size: max(12px, 1.2vh);
    padding-left: 0;
  }
  .membership > .inner .wrap div.arrowRight::before {
    width: 30%;
    left: unset;
    bottom: 80%;
    right: 0;
    transform-origin: right center;
    transform: rotate(-45deg);
  }
  .membership > .inner .wrap div.arrowRight::after {
    width: 10%;
    left: unset;
    bottom: 80%;
    right: 0;
    transform-origin: right center;
    transform: rotate(0);
  }
  .membership > .inner .wrap div.arrowLeft {
    position: absolute;
    transform: translateX(80%);
    font-size: max(12px, 1.2vh);
    padding-right: 0;
  }
  .membership > .inner .wrap div.arrowLeft::before {
    width: 30%;
    right: unset;
    bottom: 80%;
    left: 0;
    transform-origin: left center;
    transform: rotate(45deg);
  }
  .membership > .inner .wrap div.arrowLeft::after {
    width: 10%;
    right: unset;
    bottom: 80%;
    left: 0;
    transform-origin: left center;
    transform: rotate(0);
  }
}
.notice .subVisual {
  background-image: url(../img/sub_visual_notice.jpg);
}
.notice > .inner {
  padding: 100px 0;
}
.notice > .inner table {
  width: 100%;
  border-collapse: collapse;
  border-bottom: 2px solid #999;
  margin-bottom: 30px;
}
.notice > .inner table tr th {
  padding: 15px;
  background-color: #999;
  font-size: max(16px, 1.5vh);
  color: #fff;
  font-family: "맑은 고딕";
}
.notice > .inner table tr th:nth-of-type(1) {
  width: 10%;
}
.notice > .inner table tr th:nth-of-type(3) {
  width: 15%;
}
.notice > .inner table tr th:nth-of-type(4) {
  width: 15%;
}
.notice > .inner table tr td {
  padding: 15px;
  font-size: max(16px, 1.5vh);
  color: #000;
  text-align: center;
  font-family: "맑은 고딕";
  border-bottom: 1px solid #999;
  transition: transform 0.3s;
}
.notice > .inner table tr td:nth-of-type(2) {
  text-align: left;
}
.notice > .inner table tr:hover td {
  transform: translateX(10px);
  font-weight: bold;
}
.notice > .inner .pagination {
  display: flex;
  justify-content: space-between;
}
.notice > .inner .pagination a {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: max(16px, 1.5vh);
  text-align: center;
  transition: 0.3s;
}
.notice > .inner .pagination a.prev, .notice > .inner .pagination a.next {
  background-color: #999;
  color: #fff;
}
.notice > .inner .pagination a:hover {
  font-weight: bold;
  width: 40px;
}
.notice > .inner .pagination .pageNum {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.notice > .inner .pagination .pageNum li a {
  background-color: lightpink;
}
.notice > .inner .pagination .pageNum li:nth-of-type(even) a {
  background-color: lightblue;
}

@media screen and (max-width: 1179px) {
  .notice > .inner {
    padding: 50px 20px;
  }
  .notice > .inner table tr th:nth-of-type(1) {
    width: 14%;
  }
  .notice > .inner table tr th:nth-of-type(3) {
    width: 17%;
  }
  .notice > .inner table tr th:nth-of-type(4) {
    width: 0;
    display: none;
  }
  .notice > .inner table tr td:nth-of-type(1) {
    width: 14%;
  }
  .notice > .inner table tr td:nth-of-type(3) {
    width: 17%;
  }
  .notice > .inner table tr td:nth-of-type(4) {
    width: 0;
    display: none;
  }
  .notice > .inner .pagination .pageNum li:nth-of-type(6) {
    display: none;
  }
  .notice > .inner .pagination .pageNum li:nth-of-type(7) {
    display: none;
  }
  .notice > .inner .pagination .pageNum li:nth-of-type(8) {
    display: none;
  }
  .notice > .inner .pagination .pageNum li:nth-of-type(9) {
    display: none;
  }
  .notice > .inner .pagination .pageNum li:nth-of-type(10) {
    display: none;
  }
}
@media screen and (max-width: 539px) {
  .notice .inner table tr th {
    padding: 10px;
  }
  .notice .inner table tr th:nth-of-type(1) {
    width: 0;
    display: none;
  }
  .notice .inner table tr th:nth-of-type(3) {
    width: 29%;
  }
  .notice .inner table tr td {
    padding: 10px;
  }
  .notice .inner table tr td:nth-of-type(1) {
    width: 0;
    display: none;
  }
  .notice .inner table tr td:nth-of-type(3) {
    width: 29%;
  }
  .notice .inner .pagination .pageNum li:nth-of-type(4) {
    display: none;
  }
  .notice .inner .pagination .pageNum li:nth-of-type(5) {
    display: none;
  }
}
.store .subVisual {
  background-image: url(../img/sub_visual_store.jpg);
}

body {
  font-family: "DM Sans", sans-serif;
  height: 100vh;
}
body #header {
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.5);
}
body #header .inner {
  width: 1180px;
  height: 100%;
  padding: 0 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
}
body #header .inner h1 a {
  display: block;
  color: #fff;
  font-size: max(20px, 1.5vw);
  font-family: "Lily Script One";
  font-weight: normal;
  white-space: nowrap;
  transition: 0.5s;
}
body #header .inner h1 a i {
  color: lightpink;
  text-shadow: 5px 0 0 lightblue;
  margin-right: 10px;
}
body #header .inner > ul {
  display: flex;
}
body #header .inner > ul li {
  flex: 1;
}
body #header .inner > ul li a {
  display: block;
  padding: 10px;
  color: #fff;
  font-weight: 500;
  font-size: max(16px, 1.5vh);
  white-space: nowrap;
}
body #header .inner > ul#gnb li {
  margin-right: 20px;
}
body #header .inner > ul#gnb li:last-of-type {
  margin-right: 0;
}
body #header .inner .btnCall {
  display: none;
  width: 20px;
  height: 18px;
  position: absolute;
  right: 20px;
  top: 50%;
  z-index: 20;
  transition: 0.5s;
  transform: translateY(-50%);
}
body #header .inner .btnCall span {
  width: 15px;
  height: 2px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -1px;
  background-color: #fff;
  text-indent: -999999px;
}
body #header .inner .btnCall::before {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
  transition: 0.5s;
}
body #header .inner .btnCall::after {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #fff;
  transition: 0.5s;
}
body #header .mobileNav {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: #fff;
  transition: all 1s;
  transform: translateY(-100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 80px 20px 30px;
}
body #header .mobileNav ul:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
body #header .mobileNav ul:nth-of-type(1) li a {
  display: block;
  padding: 10px;
  font-size: max(16px, 1.5vh);
  font-weight: 500;
}
body #header .mobileNav ul:nth-of-type(2) {
  display: flex;
  justify-content: center;
}
body #header .mobileNav ul:nth-of-type(2) li a {
  display: block;
  font-size: 12px;
  padding: 0 10px;
  line-height: 1;
  color: #666;
}
body #header .mobileNav ul:nth-of-type(2) li:last-of-type a {
  border-left: 1px solid #666;
}
body figure.visual {
  width: 100%;
  height: 100vh;
  position: relative;
}
body figure.visual .inner {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}
body figure.visual .inner .wrap {
  width: 100%;
  height: 100%;
  filter: brightness(90%);
}
body figure.visual .inner .wrap video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body figure.visual .inner .txt {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-shadow: 0 0 10px rgba(143, 0, 55, 0.3);
}
body figure.visual .inner .txt h1 {
  font-weight: normal;
  font-size: max(20px, 1.5vw);
}
body figure.visual .inner .txt h1 span {
  display: block;
  font-family: "Lily Script One";
  font-size: max(50px, 5vw);
  margin: 30px 0;
}
body figure.visual .inner .txt p {
  max-width: 600px;
  font-size: max(16px, 1.5vh);
}
body figure.visual .inner .scroll {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: max(16px, 1.5vh);
  color: #fff;
}
body figure.visual .inner .scroll span {
  margin-bottom: 20px;
}
body figure.visual .inner .scroll i {
  animation: scrollArrow 0.5s linear infinite alternate;
}
body section.banner {
  width: 100%;
  position: relative;
  background-color: #fff;
}
body section.banner .inner {
  width: 1180px;
  margin: 0 auto;
  padding: 100px 30px;
}
body section.banner .inner h1 {
  font-size: max(28px, 3vw);
  font-family: "Lily Script One";
  font-weight: normal;
  text-align: center;
  margin-bottom: 20px;
}
body section.banner .inner h1 i {
  color: lightpink;
  text-shadow: 5px 0 0 lightblue;
  margin-right: 10px;
  text-shadow: 20px 0 0 lightblue;
  margin-right: 20px;
}
body section.banner .inner p {
  font-size: max(16px, 1.5vh);
  text-align: center;
  color: #666;
}
body section.gallery {
  width: 100%;
  position: relative;
  background-color: lightpink;
}
body section.gallery .inner {
  width: 1180px;
  padding: 100px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
body section.gallery .inner article {
  width: 280px;
  padding: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  transition: 0.5s;
}
body section.gallery .inner article .wrap {
  width: 100%;
  height: 240px;
  margin-bottom: 30px;
  overflow: hidden;
}
body section.gallery .inner article .wrap video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body section.gallery .inner article h2 {
  font-size: max(16px, 1.5vh);
  color: #000;
  line-height: 1;
  margin-bottom: 20px;
}
body section.gallery .inner article p {
  font-size: max(12px, 1.2vh);
  color: #999;
  line-height: 1.3;
}
body section.gallery .inner article:hover {
  transform: translateY(-3%);
  box-shadow: 10px 10px 20px rgba(100, 100, 100, 0.3);
}
body section.gallery .inner article.off {
  filter: blur(2px);
}
body section.about {
  width: 100%;
  height: 50vh;
  position: relative;
  background-color: #000;
}
body section.about::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/section_slide_bg.jpg) no-repeat center/cover;
  opacity: 1;
}
body section.about .inner {
  width: 1180px;
  height: 100%;
  margin: 0 auto;
  padding: 100px;
  position: relative;
}
body section.about .inner div {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
body section.about .inner div .slider {
  width: 300%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}
body section.about .inner div .slider article {
  width: 33.3333333333%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
body section.about .inner div .slider article h1 {
  font-size: max(28px, 3vw);
  color: #fff;
  margin-bottom: 30px;
}
body section.about .inner div .slider article .viewDetail {
  padding: max(10px, 0.8vw) max(25px, 3vw);
  font-size: max(16px, 1.5vh);
  text-align: center;
  color: #fff;
  background-color: #000;
  border-radius: 100px;
  transition: 0.3s;
  background-color: transparent;
  border: 1px solid #fff;
}
body section.about .inner div .slider article .viewDetail:hover {
  background-color: #666;
}
body section.about .inner div .slider article .viewDetail:hover {
  background-color: #fff;
  color: #000;
}
body section.about .inner > a {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
body section.about .inner > a i {
  font-size: max(28px, 3vw);
  color: #fff;
}
body section.about .inner > a.btnPrev {
  left: 0;
}
body section.about .inner > a.btnNext {
  right: 0;
}
body section.board {
  width: 100%;
  position: relative;
  background-color: lightblue;
}
body section.board .inner {
  width: 1180px;
  margin: 0 auto;
  padding: 100px 50px;
}
body section.board .inner h1 {
  font-size: max(28px, 3vw);
  text-align: center;
  margin-bottom: 50px;
}
body section.board .inner ul {
  width: 100%;
}
body section.board .inner ul li {
  width: 100%;
  padding: 10px 20px;
  background-color: #fff;
  margin-bottom: 10px;
  position: relative;
  transition: 0.5s;
}
body section.board .inner ul li a {
  display: block;
  width: 80%;
  font-size: max(16px, 1.5vh);
  line-height: 1.5;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
body section.board .inner ul li span {
  display: inline-block;
  padding: 10px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: max(12px, 1.2vh);
  color: #666;
}
body section.board .inner ul li:hover {
  transform: translateX(1%);
}
body section.contact {
  width: 100%;
  position: relative;
  background-color: #fff;
}
body section.contact .inner {
  width: 1180px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 50px;
}
body section.contact .inner h1 {
  font-size: max(28px, 3vw);
  margin-bottom: 30px;
}
body section.contact .inner .tabMenu {
  width: 100%;
  margin-bottom: 50px;
}
body section.contact .inner .tabMenu ul {
  display: flex;
}
body section.contact .inner .tabMenu ul li {
  flex: 1;
}
body section.contact .inner .tabMenu ul li a {
  height: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #000;
  font-size: max(16px, 1.5vh);
  text-align: center;
  color: #999;
  font-weight: 500;
}
body section.contact .inner .tabMenu ul li.on a {
  border: 2px solid #000;
  border-bottom: 0;
  color: #000;
}
body section.contact .inner .tabBody {
  width: 100%;
}
body section.contact .inner .tabBody > div {
  width: 100%;
  height: 0px;
  overflow: hidden;
}
body section.contact .inner .tabBody > div div {
  margin-bottom: 30px;
}
body section.contact .inner .tabBody > div div h2 {
  font-size: max(20px, 1.5vw);
  margin-bottom: 30px;
}
body section.contact .inner .tabBody > div div p {
  font-size: max(16px, 1.5vh);
  color: #666;
}
body section.contact .inner .tabBody > div div p span {
  margin-right: 10px;
}
body section.contact .inner .tabBody > div.on {
  height: auto;
}
body section.contact .inner .tabBody > div form {
  width: 100%;
}
body section.contact .inner .tabBody > div form h2 {
  font-size: max(20px, 1.5vw);
  margin-bottom: 10px;
}
body section.contact .inner .tabBody > div form p {
  font-size: max(16px, 1.5vh);
  margin-bottom: 30px;
  color: #666;
}
body section.contact .inner .tabBody > div form ul {
  width: 100%;
}
body section.contact .inner .tabBody > div form ul li {
  width: 100%;
  margin: 10px 0;
}
body section.contact .inner .tabBody > div form ul li::after {
  content: "";
  display: block;
  clear: both;
}
body section.contact .inner .tabBody > div form ul li label {
  float: left;
  width: 19%;
  padding: 10px 0;
  font-size: max(16px, 1.5vh);
  font-weight: bold;
  line-height: 1.5;
  color: #000;
}
body section.contact .inner .tabBody > div form ul li input, body section.contact .inner .tabBody > div form ul li textarea {
  float: right;
  width: 80%;
  padding: 10px;
  font-size: max(16px, 1.5vh);
  line-height: 1.5;
  color: #000;
  resize: none;
}
body section.contact .inner .tabBody > div form ul li button {
  padding: max(10px, 0.8vw) max(25px, 3vw);
  font-size: max(16px, 1.5vh);
  text-align: center;
  color: #fff;
  background-color: #000;
  border-radius: 100px;
  transition: 0.3s;
  border: none;
  cursor: pointer;
}
body section.contact .inner .tabBody > div form ul li button:hover {
  background-color: #666;
}
body section.contact .inner .tabBody > div form ul li button[type=reset] {
  opacity: 0.6;
}
body section.contact .inner .tabBody > div form ul li:last-of-type {
  text-align: right;
}
body section.contact .inner .tabBody > div #map {
  width: 100%;
  height: 30vh;
}
body section.contact .inner .tabBody > div #map * {
  box-sizing: content-box;
  margin: 0;
}
body section.contact .inner .tabBody > div #map .mapInfo {
  padding: 10px;
}
body section.contact .inner .tabBody > div #map .mapInfo ul li:first-of-type {
  margin-bottom: 10px;
  font-size: max(16px, 1.5vh);
  font-weight: bold;
}
body section.contact .inner .tabBody > div #map .mapInfo ul li a {
  font-size: max(12px, 1.2vh);
  color: #666;
}
body #footer {
  width: 100%;
  position: relative;
  background-color: #eee;
}
body #footer .inner {
  width: 1180px;
  margin: 0 auto;
  padding: 80px 50px;
}
body #footer .inner h1 {
  color: #666;
  margin-bottom: 20px;
  font-family: "Lily Script One";
  font-weight: normal;
}
body #footer .inner h1 i {
  color: lightpink;
  text-shadow: 5px 0 0 lightblue;
  margin-right: 10px;
}
body #footer .inner ul {
  display: flex;
}
body #footer .inner ul li {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid #666;
  line-height: 1;
}
body #footer .inner ul li a {
  font-size: max(12px, 1.2vh);
  color: #666;
}
body #footer .inner ul li:last-of-type {
  border-right: 0;
}
body #footer .inner ul li:last-of-type a {
  font-weight: bold;
}
body #footer .inner ul.terms {
  margin-bottom: 20px;
}
body #footer .inner address {
  font-style: normal;
}
body #footer .inner address ul li {
  font-size: max(12px, 1.2vh);
  line-height: 1.5;
  color: #666;
}
body #footer .inner address p {
  font-size: max(12px, 1.2vh);
  line-height: 1.5;
  color: #666;
}

@keyframes scrollArrow {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}
@media screen and (max-width: 1179px) {
  body #header {
    width: 100%;
    height: 60px;
  }
  body #header .inner {
    width: 100%;
    padding: 0 20px;
  }
  body #header .inner h1 {
    position: absolute;
    z-index: 20;
  }
  body #header .inner h1.on a {
    color: #000;
  }
  body #header .inner #gnb {
    display: none;
  }
  body #header .inner .util {
    display: none;
  }
  body #header .inner .btnCall {
    display: block;
  }
  body #header .inner .btnCall.on::before {
    background-color: #000;
    margin-top: 1px;
    transform-origin: right center;
    transform: rotate(-45deg);
  }
  body #header .inner .btnCall.on::after {
    background-color: #000;
    margin-bottom: 1px;
    transform-origin: right center;
    transform: rotate(45deg);
  }
  body #header .inner .btnCall.on span {
    opacity: 0;
  }
  body #header .mobileNav {
    width: 100%;
  }
  body #header .mobileNav.on {
    transform: translateY(0);
  }
  body #header .mobileNav ul {
    width: 100%;
  }
  body section.banner .inner {
    width: 100%;
  }
  body section.gallery .inner {
    width: 100%;
  }
  body section.gallery .inner article {
    width: 46%;
    margin: 2%;
  }
  body section.about .inner {
    width: 100%;
    padding: 10%;
  }
  body section.about .inner a {
    margin: 0 3%;
  }
  body section.board .inner {
    width: 100%;
  }
  body section.contact .inner {
    width: 100%;
  }
  body #footer .inner {
    width: 100%;
  }
}
@media screen and (max-width: 539px) {
  body section.banner .inner {
    padding: 80px 20px;
  }
  body section.gallery .inner {
    padding: 50px 20px;
  }
  body section.gallery .inner article {
    width: 90%;
    margin: 5%;
  }
  body section.about .inner a {
    margin: 0 3%;
  }
  body section.board .inner {
    padding: 50px 20px;
  }
  body section.board .inner h1 {
    margin-bottom: 30px;
  }
  body section.board .inner ul li {
    padding: 10px;
  }
  body section.board .inner ul li a {
    width: 75%;
  }
  body section.board .inner ul li span {
    right: 5px;
  }
  body section.contact .inner {
    padding: 50px 20px;
  }
  body section.contact .inner .tabBody div form ul li label {
    float: none;
    display: block;
  }
  body section.contact .inner .tabBody div form ul li input, body section.contact .inner .tabBody div form ul li textarea {
    float: none;
    width: 100%;
  }
  body #footer .inner {
    padding: 50px 20px;
  }
  body #footer .inner address ul {
    display: block;
    margin-bottom: 5px;
  }
  body #footer .inner address ul li {
    border: 0;
  }
}

/*# sourceMappingURL=style.css.map */
