.gallery{  // 갤러리 페이지
  .subVisual{ background-image: url(../img/sub_visual_gallery.jpg); }

  >.inner{
    padding: 100px 0;

    .youtube{
      width: 100%; display: flex; flex-direction: column;

      article{
        width: 100%; margin-bottom: 100px;
        border: 1px solid $colorGray; transition: 0.5s;
        border-radius: 50px; padding: 30px;
        display: flex; justify-content: space-between;

        a{
          display: block; width: 50%;
          border-radius: 50px; overflow: hidden;
          position: relative; font-size: 0;

          img{ width: 100%; height: 100%; object-fit: cover;}
          i{
            width: 100%; height: 100%;
            position: absolute; top: 0; left: 0;
            display: flex; justify-content: center; align-items: center;
            font-size: $fontSizeBiggest; color: $colorWhite; opacity: 0;
            transition: 0.5s;
          }
        }
        .con{
          width: 48%;
          display: flex; flex-direction: column;
          justify-content: space-between;

          h2{
            width: 100%; margin: 20px 0; 
            transition: 0.5s; transform: translateX(3%);
            position: relative;
            
            span{
              display: block; width: 95%; height: 100%; margin: 0 auto;
              overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
              font-size: $fontSizeMedium; font-family: $fontCute;
              color: $colorBlack;
            }

            &::before{
              content: ''; display: block; width: 0; height: 100%;
              position: absolute; bottom: 0; right: 0; z-index: -1;
              background-color: $colorBlue;
              transform-origin: right;
              transition: 0.5s;
            }
            &::after{
              content: ''; display: block; width: 0; height: 100%;
              position: absolute; bottom: 0; right: 0; z-index: -1;
              background-color: $colorPink;
              transform-origin: right;
              transition: 0.5s;
            }
          }
          p{
            overflow: hidden; padding: 20px;
            font-size: $fontSizeRegular; color: $colorGray;
            transition: 0.5s;
          }
          >span{
            display: block; padding: 10px 20px 0; margin: 20px 0;
            transition: 0.5s;
            font-size: $fontSizeSmall; text-align: right;
            color: $colorGray;
          }
        }

        &:hover{
          box-shadow: 0 10px 0 rgba($color: $colorBlue, $alpha: 1);
          // transform: translateY(-3%);
          a{
            i{ opacity: 0.8; }
          }
          .con{
            h2{
              transform: translateX(3%) rotate(1deg);
              &::before{
                width: 80%;
                transform: translateY(-40%) translateX(-3%) rotate(-5deg);
              }
              &::after{
                width: 105%;
                transform: rotate(0deg);
              }
            }
          }
        }

        &:nth-of-type(even){
          a{ order: 2; }
          .con{ order: 1;
            h2{
              &::before{ right: auto; left: 0; transform-origin: left; }
              &::after{ right: auto; left: 0; transform-origin: left; }
            }
          }

          &:hover{
            .con{
              h2{
                transform: translateX(3%) rotate(-1deg);
                &::before{
                  transform: translateY(-40%) translateX(3%) rotate(5deg);
                }
                &::after{ transform: translateX(-3%) rotate(0deg);
                }
              }
            }
          }
        }
      }

      figure.pop{
        width: 100%; height: 100vh; padding: 10vw; z-index: 100;
        position: fixed; top: 0; left: 0; overflow: hidden;
        background: rgba(0,0,0,0.8);
        display: flex; justify-content: center; align-items: center;

        .wrap{
          position: relative;
          width: 100%; height: 0; overflow: hidden;
          padding-top: 56.25%;
          iframe{
            height: 100%; width: 100%; position: absolute; left: 0; top: 0;
          }
        }

        .btnClose{
          position: absolute; top: 50px; right: 50px;
          color: #fff; cursor: pointer; font-size: $fontSizeMedium;
          transform: rotate(45deg);
        }
      }
    }
  }
}


@media screen and (max-width: 1179px){
  .gallery{
    >.inner{
      padding: 80px 50px;
      .youtube{
        article{
          flex-direction: column;
          margin-bottom: 80px;
          a{ width: 100%; }
          .con{ 
            width: 100%;
            h2{
              transform: translateX(3%) rotate(1deg);
              &::before{
                width: 80%;
                transform: translateY(-40%) translateX(-3%) rotate(-5deg);
              }
              &::after{
                width: 105%;
                transform: rotate(0deg);
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 539px){
  .gallery{
    >.inner{
      padding: 50px 20px;
      .youtube{
        article{
          margin-bottom: 50px;
          padding: 20px;
          .con{
            >span{ margin: 0 0 20px; }
          }
        }
      }
    }
  }
}