.notice{  // 공지사항 페이지
  .subVisual{ background-image: url(../img/sub_visual_notice.jpg); }
  >.inner{
    padding: 100px 0;
    
    .board{
      width: 100%;
      border-top: 2px solid $colorLightGray;
      border-bottom: 2px solid $colorLightGray;
      margin-bottom: 100px;

      li:last-of-type{ border-bottom: 0; }

      .title{
        width: 100%; padding: 50px;
        border-bottom: 1px solid $colorLightGray;
        position: relative;

        a{
          display: block; width: 100%; height: 100%;

          h2{
            font-size: $fontSizeBig; font-family: $fontCute;
            transition: 0.5s;
          }
          span{
            display: block;
            font-size: $fontSizeSmall;
            color: $colorGray;
          }
        }
        .img{
          width: 400px; height: 60%;
          position: absolute; top: 50%; right: 50px;
          border-radius: 20px;
          transform: translateY(-50%);
          background-color: $colorPink;
        }

        &:hover a h2{
          text-shadow: 0px 4px 0px rgba($color: $colorBlue, $alpha: 1);
        }

      }
      .desc{
        width: 100%; max-height: 0; overflow: hidden; background-color: $colorPink;
        border-bottom: 1px solid $colorGray;
        transform-origin: top;
        transform: scaleY(0); transition: 0.5s;
        p{
          width: 100%; height: 100%;
          padding: 50px; 
        }
        
        &.on{
          max-height: unset;
          transform: scaleY(1);
        }
      }
    }

    .pagination{
      display: flex; justify-content: center;

      a{
        display: block; width: 30px; height: 30px; line-height: 30px;
        font-size: $fontSizeRegular; text-align: center; transition: 0.3s;

        &.prev{ color: $colorLightGray;
          &:hover{ color: $colorGray; transform: translateX(-15%); }
        }
        &.next{ color: $colorLightGray;
          &:hover{ color: $colorGray; transform: translateX(15%); }
        }
      }

      .pageNum{
        display: flex; justify-content: center; gap: 5px;
        li{
          a{
            position: relative; 
            &::after{
              content: ''; display: block; width: 100%; height: 2px;
              position: absolute; bottom: 0; left: 0; transition: 0.3s;
              background-color: $colorPink; transform: scaleX(0);
            }
          }
          &:nth-of-type(even) a::after{ background-color: $colorBlue; }
          &:hover a{
            font-weight: bold;
            &::after{ transform: scaleX(1); }
          }
        }
      }
    }
  }
}


@media screen and (max-width: 1179px){
  .notice{
    >.inner{
      padding: 50px 20px;
      table{
        margin-bottom: 50px;
        thead{
          tr{
            th{
              padding: 10px;
            }
          }
        }
        tbody{
          tr{
            td{
              padding: 20px 10px;
              &:nth-of-type(1) { padding-right: 0; }
            }
          }
        }
      }
      .pagination{
        .pageNum{
          li{
            @for $i from 6 through 10 {
              &:nth-of-type(#{$i}){ display: none; }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 539px){
  .notice{
    .inner{
      table{
        tr{
          th{
            padding: 10px; 
            &:nth-of-type(1){ width: 0; display: none; }
            &:nth-of-type(3){ width: 29%; }
          }
          td{
            padding: 10px;
            &:nth-of-type(1){ width: 0; display: none; }
            &:nth-of-type(3){ width: 29%; }
          }
        }
      }
      .pagination{
        .pageNum{
          li{
            @for $i from 4 through 5 {
              &:nth-of-type(#{$i}){ display: none; }
            }
          }
        }
      }
    }
  }
}