.notice{  // 공지사항 페이지
  .subVisual{ background-image: url(../img/sub_visual_notice.jpg); }
  >.inner{
    padding: 100px 0;
    
    table{
      width: 100%; border-collapse: collapse;
      margin-bottom: 100px;

      thead{
        tr{
          border-bottom: 1px solid $colorBlue;

          th{
            padding: 20px; font-size: $fontSizeRegular;
            text-align: left; font-weight: normal;
            &:nth-of-type(1) { width: 15%; }
            &:nth-of-type(3) { width: 50%; }
          }
        }
      }
      tbody{
        tr{
          border-bottom: 1px solid $colorPink; transition: 0.3s;
          position: relative;

          &:nth-of-type(even){ border-bottom: 1px solid $colorBlue; }
          &:hover{ 
            box-shadow: 0px 10px 20px rgba(100,100,100,0.2);
          }

          td{
            padding: 50px 20px; vertical-align: top;

            &:nth-of-type(1) { font-size: $fontSizeRegular; line-height: 2; }
            &:nth-of-type(2) {
              a{
                width: 100%; height: 100%;
                display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;
                overflow: hidden; text-overflow: ellipsis;
                line-height: 1; font-size: $fontSizeBig;
              }
            }
            &:nth-of-type(3) { 
              a{
                width: 100%; height: 100%;
                font-size: $fontSizeMedium; line-height: 1;
                display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical;
                overflow: hidden; text-overflow: ellipsis;
              }
            }
          }
        }
      }
    }

    .pagination{
      display: flex; justify-content: center;

      a{
        display: block; width: 30px; height: 30px; line-height: 30px;
        font-size: $fontSizeRegular; text-align: center; transition: 0.3s;

        &.prev{ color: $colorLightGray;
          &:hover{ color: $colorGray; transform: translateX(-15%); }
        }
        &.next{ color: $colorLightGray;
          &:hover{ color: $colorGray; transform: translateX(15%); }
        }
      }

      .pageNum{
        display: flex; justify-content: center; gap: 5px;
        li{
          a{
            position: relative; 
            &::after{
              content: ''; display: block; width: 100%; height: 2px;
              position: absolute; bottom: 0; left: 0; transition: 0.3s;
              background-color: $colorPink; transform: scaleX(0);
            }
          }
          &:nth-of-type(even) a::after{ background-color: $colorBlue; }
          &:hover a{
            font-weight: bold;
            &::after{ transform: scaleX(1); }
          }
        }
      }
    }
  }
}


@media screen and (max-width: 1179px){
  .notice{
    >.inner{
      padding: 50px 20px;
      table{
        margin-bottom: 50px;
        thead{
          tr{
            th{
              padding: 10px;
            }
          }
        }
        tbody{
          tr{
            td{
              padding: 20px 10px;
              &:nth-of-type(1) { padding-right: 0; }
            }
          }
        }
      }
      .pagination{
        .pageNum{
          li{
            @for $i from 6 through 10 {
              &:nth-of-type(#{$i}){ display: none; }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 539px){
  .notice{
    .inner{
      table{
        tr{
          th{
            padding: 10px; 
            &:nth-of-type(1){ width: 0; display: none; }
            &:nth-of-type(3){ width: 29%; }
          }
          td{
            padding: 10px;
            &:nth-of-type(1){ width: 0; display: none; }
            &:nth-of-type(3){ width: 29%; }
          }
        }
      }
      .pagination{
        .pageNum{
          li{
            @for $i from 4 through 5 {
              &:nth-of-type(#{$i}){ display: none; }
            }
          }
        }
      }
    }
  }
}