@charset 'utf-8';
@import 'reset.scss', 'sub_page.scss';
@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&family=DM+Sans:wght@400;500;700&display=swap');


body{
  font-family: 'DM Sans', sans-serif;
  height: 100vh;

  // [ header ]
  #header{
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 5;
    background-color: rgba(0,0,0,0.5);
  
    .inner{
      width: 1180px;
      height: 100%;
      padding: 0 50px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      overflow: hidden;
  
      // 로고 영역
      h1{
        a{
          display: block;
          color: $colorWhite;
          font-size: $fontSizeMedium;
          font-family: $pointFont;
          font-weight: normal;
          white-space: nowrap;
          // 텍스트 줄바꿈 금지
          transition: 0.5s;
  
          i{
            @include logoIce;
          }
        }
      }
  
      // PC 메뉴 영역
      >ul{
        display: flex;
        li{
          flex: 1;
          a{
            display: block;
            padding: 10px;
            color: $colorWhite;
            font-weight: 500;
            font-size: $fontSizeRegular;
            white-space: nowrap;
          }
        }
  
        &#gnb{  // gnb만 간격조절
          li{
            margin-right: 20px;
  
            &:last-of-type{
              margin-right: 0;
            }
          }
        }
      }
  
      // 햄버거 버튼
      .btnCall{
        display: none;
        width: 20px;
        height: 18px;
        position: absolute;
        right: 20px;
        top: 50%;
        z-index: 20;
        transition: 0.5s;
        transform: translateY(-50%);

        span{
          width: 15px;
          height: 2px;
          position: absolute;
          left: 0;
          top: 50%;
          margin-top: -1px;
          background-color: $colorWhite;
          text-indent: -999999px;
        }

        &::before{
          content: '';
          display: block;
          width: 20px;
          height: 2px;
          position: absolute;
          left: 0;
          top: 0;
          background-color: $colorWhite;
          transition: 0.5s;
        }

        &::after{
          content: '';
          display: block;
          width: 20px;
          height: 2px;
          position: absolute;
          left: 0;
          bottom: 0;
          background-color: $colorWhite;
          transition: 0.5s;
        }
      }
    }

    // Mobile 메뉴
    .mobileNav{
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 10;
      background-color: $colorWhite;
      transition: all 1s;
      transform: translateY(-100%);

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 80px 20px 30px;

      ul:nth-of-type(1){
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;

        li{
          a{
            display: block;
            padding: 10px;
            font-size: $fontSizeRegular;
            font-weight: 500;
          }
        }
      }

      ul:nth-of-type(2){
        display: flex;
        justify-content: center;

        li{
          a{
            display: block;
            font-size: 12px;
            padding: 0 10px;
            line-height: 1;
            color: $colorGray;
          }
          &:last-of-type a{
            border-left: 1px solid $colorGray;
          }
        }
      }
    }
  }

  // 비주얼 영역
  figure.visual{
    width: 100%; height: 100vh;
    position: relative;
    .inner{
      width: 100%; height: 100%;
      position: fixed; left: 0; top: 0;
      .wrap{
        width: 100%; height: 100%; // filter: brightness(90%);
        video{ width: 100%; height: 100%; object-fit: cover; background-color: #eee; }
      }

      .txt{
        width: 100%; position: absolute; top: 50%;
        transform: translateY(-50%); padding: 0 30px;
        text-align: center;
        display: flex; flex-direction: column; 
        justify-content: center; align-items: center;
        color: $colorWhite;
        text-shadow: 0 0 10px rgba(143, 0, 55, 0.3);

        h1{
          font-weight: normal;
          font-size: $fontSizeMedium;

          span{
            display: block;
            font-family: $pointFont;
            font-size: $fontSizeBiggest;
            margin: 30px 0;
          }
        }

        p{
          max-width: 600px;
          font-size: $fontSizeRegular;
        }
      }

      .scroll{
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: $fontSizeRegular;
        color: $colorWhite;

        span{
          margin-bottom: 20px;
        }

        i{
          animation: scrollArrow 0.5s linear infinite alternate;
        }
      }
    }
  }

  // 배너 영역
  section.banner{
    width: 100%;
    position: relative;
    background-color: $colorWhite;

    .inner{
      width: 1180px;
      margin: 0 auto;
      padding: 100px 30px;

      h1{
        font-size: $fontSizeBig;
        font-family: $pointFont;
        font-weight: normal;
        text-align: center;
        margin-bottom: 20px;
        i{
          @include logoIce;
          text-shadow: 20px 0 0 $colorBlue;
          margin-right: 20px;
        }
      }

      p{
        font-size: $fontSizeRegular;
        text-align: center;
        color: $colorGray;
      }
    }
  }

  // 갤러리 영역
  section.gallery{
    width: 100%;
    position: relative;
    background-color: $colorPink;

    .inner{
      width: 1180px; padding:100px 0; margin: 0 auto;
      display: flex; justify-content: space-between;
      flex-wrap: wrap;

      article{
        width: 280px; padding: 20px;
        background-color: $colorWhite;
        display: flex; flex-direction: column;
        transition: 0.5s;

        .wrap{
          width: 100%; height: 240px; margin-bottom: 30px; overflow: hidden;

          video{ width: 100%; height: 100%; object-fit: cover; }
        }

        h2{
          font-size: $fontSizeRegular; color: $colorBlack;
          line-height: 1;
          margin-bottom: 20px;
        }

        p{
          font-size: $fontSizeSmall; color: $colorLightGray;
          line-height: 1.3;
        }

        &:hover{
          transform: translateY(-3%);
          box-shadow: 10px 10px 20px rgba(100,100,100,0.3);
        }

        &.off{ filter: blur(2px); }
      }
    }
  }

  // 어바웃 영역
  section.about{
    width: 100%; height: 50vh;
    position: relative;
    background-color: $colorBlack;
    
    &::before{
      content: '';
      display: block; width: 100%; height: 100%;
      position: absolute; top: 0; left: 0;
      background: url(../img/section_slide_bg.jpg) no-repeat center/cover;
      opacity: 1;
    }

    .inner{
      width: 1180px; height: 100%;
      margin: 0 auto; padding: 100px;
      position: relative;

      div{
        width: 100%; height: 100%;
        position: relative; overflow: hidden;

        .slider{
          width: calc(100% * 3); height: 100%;
          position: absolute; top: 0; left: 0;
          display: flex;
  
          article{
            width: calc(100% / 3); height: 100%;
            display: flex; flex-direction: column;
            justify-content: center; align-items: flex-start;
    
            h1{
              font-size: $fontSizeBig;
              color: $colorWhite;
              margin-bottom: 30px;
            }
      
            .viewDetail{
              @include viewDetail;
              background-color: transparent;
              border: 1px solid $colorWhite;
      
              &:hover{
                background-color: $colorWhite;
                color: $colorBlack;
              }
            }
          }
        }
      }

      >a{
        position: absolute; top: 50%;
        transform: translateY(-50%);

        i{ font-size: $fontSizeBig; color: $colorWhite; }
        &.btnPrev{ left: 0; }
        &.btnNext{ right: 0; }
      }
    }
  }

  // 시스템 영역
  section.system{
    width: 100%;
    height: 70vh;
    position: relative;
    background-color: $colorWhite;

    .inner{
      width: 1180px;
      height: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h1{
        font-size: $fontSizeBig;
        text-align: center;
        margin-bottom: 50px;

        span{
          display: block;
          font-size: $fontSizeRegular;
        }
      }

      .wrap{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        position: relative;

        div{
          p{
            i{
              display: block;
              width: 15vw;
              height: 15vw;
              margin: 0 auto;
              border-radius: 50%;
              font-size: $iSize;
              color: $colorWhite;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: $colorBlue;
            }

            span{
              display: block;
              text-align: center;
              font-size: $fontSizeRegular;
              font-weight: bold;
              padding: 2vh 0;
            }
          }

          &.owner p i{ background-color: $colorGray; }
          &.shop p i{ background-color: $colorPink; }

          &.arrowRight{
            text-align: center;
            padding: 0 30px 10px 10px;
            margin: 0 30px 50px 20px;
            position: relative;

            &::before{  // 바닥줄
              content: '';
              display: block;
              position: absolute;
              left: 0;
              bottom: 0;
              width: 100%;
              height: 1px;
              background-color: $colorGray;
            }

            &::after{ // 오른쪽줄
              content: '';
              display: block;
              position: absolute;
              right: 0;
              bottom: 0;
              width: 25px;
              height: 1px;
              background-color: $colorGray;
              transform-origin: right bottom;
              transform: rotate(45deg);
            }
          }
          
          &.arrowLeft{
            text-align: center;
            padding: 0 15px 10px 35px;
            margin: 0 20px 50px 30px;
            position: relative;

            &::before{
              content: '';
              display: block;
              position: absolute;
              left: 0;
              bottom: 0;
              width: 100%;
              height: 1px;
              background-color: $colorGray;
            }
            &::after{
              content: '';
              display: block;
              position: absolute;
              left: 0;
              bottom: 0;
              width: 25px;
              height: 1px;
              background-color: $colorGray;
              transform-origin: left bottom;
              transform: rotate(-45deg);
            }
          }
        }
      }
      

      .viewDetail{
        @include viewDetail;
      }
    }
  }

  // 게시판 영역
  section.board{
    width: 100%; position: relative;
    background-color: $colorBlue;

    .inner{
      width: 1180px; margin: 0 auto; padding: 100px 50px;

      h1{
        font-size: $fontSizeBig;
        text-align: center;
        margin-bottom: 50px;
      }

      ul{
        width: 100%;

        li{
          width: 100%; padding: 10px 20px;
          background-color: $colorWhite;
          margin-bottom: 10px; position: relative;
          transition: 0.5s;

          a{
            display: block; width: 80%;
            font-size: $fontSizeRegular; line-height: 1.5;
            overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
          }

          span{
            display: inline-block; padding: 10px;
            position: absolute; top: 50%; right: 20px;
            transform: translateY(-50%);
            font-size: $fontSizeSmall; color: $colorGray;
          }

          &:hover{
            transform: translateX(1%);
          }
        }
      }
    }
  }

  // 컨텍트 영역
  section.contact{
    width: 100%;
    position: relative;
    background-color: $colorWhite;

    .inner{
      width: 1180px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 100px 50px;

      h1{
        font-size: $fontSizeBig;
        margin-bottom: 30px;
      }

      .tabMenu{
        width: 100%;
        margin-bottom: 50px;

        ul{
          display: flex;
          li{
            flex: 1;

            a{
              height: 100%; padding: 20px 0;
              display: flex; justify-content: center; align-items: center;
              font-size: $fontSizeRegular; text-align: center;
              color: $colorLightGray; font-weight: 500;
              border-bottom: 2px solid $colorBlack;
            }

            &.on a{
              border: 2px solid $colorBlack;
              border-bottom: 0;
              color: $colorBlack;
            }
          }
        }
      }

      .tabBody{
        width: 100%;

        >div{
          width: 100%; height: 0px; overflow: hidden;

          div{
            margin-bottom: 30px;

            h2{
              font-size: $fontSizeMedium;
              margin-bottom: 30px;
            }
  
            p{
              font-size: $fontSizeRegular;
              color: $colorGray;
  
              span{ margin-right: 10px; }
            }
          }

          &.on{
            height: auto;
          }

          form{
            width: 100%;

            h2{
              font-size: $fontSizeMedium;
              margin-bottom: 10px;
            }

            p{
              font-size: $fontSizeRegular;
              margin-bottom: 30px;
              color: $colorGray;
            }

            ul{
              width: 100%;

              li{
                width: 100%; margin: 10px 0;

                &::after{ content: ''; display: block; clear: both; }

                label{
                  float: left; width: 19%; padding: 10px 0;
                  font-size: $fontSizeRegular; font-weight: bold;
                  line-height: 1.5; color: $colorBlack;
                }
    
                input,textarea{
                  float: right; width: 80%; padding: 10px;
                  font-size: $fontSizeRegular;
                  line-height: 1.5; color: $colorBlack;
                  resize: none;
                }

                button{
                  @include viewDetail();
                  border: none; cursor: pointer;

                  &[type="reset"]{ opacity: 0.6; }
                }

                &:last-of-type{
                  text-align: right;
                }
              }
            }
          }

          #map{
            width: 100%; height: 30vh;
            
            *{ box-sizing: content-box; margin: 0;}

            .mapInfo{
              padding: 10px;
              ul{
                li{
                  &:first-of-type{
                    margin-bottom: 10px;
                    font-size: $fontSizeRegular;
                    font-weight: bold;
                  }
                  a{
                    font-size: $fontSizeSmall;
                    color: $colorGray;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  // [ footer ]
  #footer{
    width: 100%; position: relative;
    background-color: #eee;

    .inner{
      width: 1180px; margin: 0 auto; padding: 80px 50px;

      h1{
        color: $colorGray; margin-bottom: 20px;
        font-family: $pointFont; font-weight: normal;
        i{
          @include logoIce;
        }
      }
      
      ul{
        display: flex;

        li{
          padding-right: 10px; margin-right: 10px;
          border-right: 1px solid $colorGray;
          line-height: 1;

          a{ font-size: $fontSizeSmall; color: $colorGray; }

          &:last-of-type{
            border-right: 0; 
            a{ font-weight: bold; }
          }
        }

        &.terms{ margin-bottom: 20px; }
      }

      address{
        font-style: normal;

        ul{
          li{
            font-size: $fontSizeSmall;
            line-height: 1.5; color: $colorGray;
          }
        }
        p{
          font-size: $fontSizeSmall;
          line-height: 1.5; color: $colorGray;
        }
      }
    }
  }
}

@keyframes scrollArrow {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

// 태블릿
@media screen and (max-width: 1179px){
  body{

    // [header]
    #header{
      width:100%; height: 60px;

      .inner{
        width:100%; padding: 0 20px;
        // 로고
        h1{
          position: absolute; z-index: 20;
          &.on a{
            color: $colorBlack;
          }
        }
        #gnb{ display: none; }
        .util{ display: none; }

        // 햄버거 버튼
        .btnCall{
          display: block;
          &.on{
            &::before{
              background-color: $colorBlack;
              margin-top: 1px;
              transform-origin: right center;
              transform: rotate(-45deg);
            }
            &::after{
              background-color: $colorBlack;
              margin-bottom: 1px;
              transform-origin: right center;
              transform: rotate(45deg);
            }
            span{ opacity: 0; }
          }
        }
      }
      
      // Mobile 메뉴
      .mobileNav{
        width: 100%;

        &.on{
          transform: translateY(0);
        }

        ul{ width: 100%; }
      }
    }

    section.banner{
      .inner{ width: 100%; }
    }
    section.gallery{
      .inner{ width: 100%;
        article{ width: 46%; margin: 2%; }
      }
    }
    section.about{
      .inner{ width: 100%; padding: 10%;
        a{ margin: 0 3%; }
      }
    }
    section.system{
      .inner{ width: 100%; }
    }
    section.board{
      .inner{ width: 100%; }
    }
    section.contact{
      .inner{ width: 100%; }
    }

    // [footer]
    #footer{
      .inner{ width: 100%; }
    }
  }
}

// 모바일
@media screen and (max-width: 539px) {
  body{

    // 배너 영역
    section.banner{
      .inner{
        padding: 80px 20px;
      }
    }

    // 갤러리 영역
    section.gallery{
      .inner{
        padding: 50px 20px;
        article{ width: 90%; margin: 5%; }
      }
    }

    // 어바웃 영역
    section.about{
      .inner{
        a{ margin: 0 3%; }
      }
    }

    // 시스템 영역
    section.system{
      height: auto;
      
      .inner{
        padding: 80px 0;

        .wrap{
          flex-wrap: wrap;
          div{
            order: 2;

            &.owner{
              margin-right: 100px;
            }
            &.shop{
              order: 1;
              width: 100%;
            }
            &.arrowRight{
              position: absolute;
              transform: translateX(-80%);
              font-size: $fontSizeSmall;
              padding-left: 0;

              &::before{
                width: 30%;
                left: unset;
                bottom: 80%;
                right: 0;
                transform-origin: right center;
                transform: rotate(-45deg);
              }
              &::after{
                width: 10%;
                left: unset;
                bottom: 80%;
                right: 0;
                transform-origin: right center;
                transform: rotate(0);
              }
            }
            &.arrowLeft{
              position: absolute;
              transform: translateX(80%);
              font-size: $fontSizeSmall;
              padding-right: 0;

              &::before{
                width: 30%;
                right: unset;
                bottom: 80%;
                left: 0;
                transform-origin: left center;
                transform: rotate(45deg);
              }
              &::after{
                width: 10%;
                right: unset;
                bottom: 80%;
                left: 0;
                transform-origin: left center;
                transform: rotate(0);
              }
            }
          }
        }
      }
    }

    // 게시판 영역
    section.board{
      .inner{
        padding: 50px 20px;
        h1{ margin-bottom: 30px; }
      }
    }

    // 컨텍트 영역
    section.contact{
      .inner{
        padding: 50px 20px;
        .tabBody{
          div{
            form{
              ul{
                li{
                  label{ float: none; display: block; }
                  input,textarea{ float: none; width: 100%;}
                }
              }
            }
          }
        }
      }
    }

    // [footer]
    #footer{
      .inner{
        padding: 50px 20px;

        address{
          ul{
            display: block;
            margin-bottom: 5px;
            li{
              border: 0;
            }
          }
        }
      }
    }
  }
}