@charset 'utf-8';
@import 'reset.scss';
@import 'sub_page.scss';
@import 'about.scss';
@import 'youtube.scss';
@import 'flickr.scss';
@import 'membership.scss';
@import 'notice.scss';
@import 'store.scss';
@import 'join.scss';
@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&family=DM+Sans:wght@400;500;700&family=Dangrek&display=swap');


body{
  font-family: 'DM Sans, sans-serif';
  height: 100vh;

  // [ header ]
  #header{
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 5;
    background-color: rgba(0,0,0,0.5);
  
    .inner{
      width: 1180px;
      height: 100%;
      padding: 0 50px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      overflow: hidden;
  
      // 로고 영역
      h1{
        a{
          display: block;
          color: $colorWhite;
          font-size: $fontSizeMedium;
          font-family: $fontPoint;
          font-weight: normal;
          white-space: nowrap;
          // 텍스트 줄바꿈 금지
          transition: 0.5s;
  
          i{
            @include logoIce;
          }
        }
      }
  
      // PC 메뉴 영역
      >ul{
        display: flex;
        li{
          flex: 1;
          a{
            display: block;
            padding: 10px;
            color: $colorWhite;
            font-weight: 500;
            font-size: $fontSizeRegular;
            white-space: nowrap;
          }
        }
  
        &#gnb{  // gnb만 간격조절
          li{
            margin-right: 20px;
  
            &:last-of-type{
              margin-right: 0;
            }
          }
        }
      }
  
      // 햄버거 버튼
      .btnCall{
        display: none;
        width: 20px;
        height: 18px;
        position: absolute;
        right: 20px;
        top: 50%;
        z-index: 20;
        transition: 0.5s;
        transform: translateY(-50%);

        span{
          width: 15px;
          height: 2px;
          position: absolute;
          left: 0;
          top: 50%;
          margin-top: -1px;
          background-color: $colorWhite;
          text-indent: -999999px;
        }

        &::before{
          content: '';
          display: block;
          width: 20px;
          height: 2px;
          position: absolute;
          left: 0;
          top: 0;
          background-color: $colorWhite;
          transition: 0.5s;
        }

        &::after{
          content: '';
          display: block;
          width: 20px;
          height: 2px;
          position: absolute;
          left: 0;
          bottom: 0;
          background-color: $colorWhite;
          transition: 0.5s;
        }
      }
    }

    .subMenu{
      background-color: rgba(0,0,0,0.6);
      max-height: 0; overflow: hidden; transition: 0.5s;
      ul{
        display: flex; justify-content: center;
        li{
          padding: 20px; color: $colorWhite;
          font-size: $fontSizeSmall;
        }
      }

      &.on{
        max-height: 10vh;
      }
    }

    // Mobile 메뉴
    .mobileNav{
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 10;
      background-color: $colorWhite;
      transition: all 1s;
      transform: translateY(-100%);

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 80px 20px 30px;

      ul:nth-of-type(1){
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;

        li{
          a{
            display: block;
            padding: 10px;
            font-size: $fontSizeRegular;
            font-weight: 500;
          }

          ul{
            margin-bottom: 0;
            li{
              a{
                font-size: $fontSizeSmall;

                &::before{
                  content: '-';
                  margin-right: 5px;
                }
              }
            }
          }
        }
      }

      ul:nth-of-type(2){
        display: flex;
        justify-content: center;

        li{
          a{
            display: block;
            font-size: 12px;
            padding: 0 10px;
            line-height: 1;
            color: $colorGray;
          }
          &:last-of-type a{
            border-left: 1px solid $colorGray;
          }
        }
      }
    }
  }

  // 비주얼 영역
  figure.visual{
    width: 100%; height: 100vh;
    position: relative;
    .inner{
      width: 100%; height: 100%;
      position: fixed; left: 0; top: 0;
      .wrap{
        width: 100%; height: 100%; filter: brightness(90%);
        video{ width: 100%; height: 100%; object-fit: cover; }
      }

      .txt{
        width: 100%; position: absolute; top: 50%;
        transform: translateY(-50%); padding: 0 30px;
        text-align: center;
        display: flex; flex-direction: column; 
        justify-content: center; align-items: center;
        color: $colorWhite;
        text-shadow: 0 0 10px rgba(143, 0, 55, 0.3);

        h1{
          font-weight: normal;
          font-size: $fontSizeMedium;

          span{
            display: block;
            font-family: $fontPoint;
            font-size: $fontSizeBiggest;
            margin: 30px 0;
          }
        }

        p{
          max-width: 600px;
          font-size: $fontSizeRegular;
        }
      }

      .scroll{
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: $fontSizeRegular;
        color: $colorWhite;

        span{
          margin-bottom: 20px;
        }

        i{
          animation: scrollArrow 0.5s linear infinite alternate;
        }
      }
    }
  }

  // 배너 영역
  section.banner{
    width: 100%;
    position: relative;
    background-color: $colorWhite;

    .inner{
      width: 1180px;
      margin: 0 auto;
      padding: 100px 30px;

      h1{
        font-size: $fontSizeBig;
        font-family: $fontPoint;
        font-weight: normal;
        text-align: center;
        margin-bottom: 20px;
        i{
          @include logoIce;
          text-shadow: 20px 0 0 $colorBlue;
          margin-right: 20px;
        }
      }

      p{
        font-size: $fontSizeRegular;
        text-align: center;
        color: $colorGray;
      }
    }
  }

  // 무비갤러리 영역
  section.movies{
    width: 100%;
    position: relative;
    background-color: $colorPink;

    .inner{
      width: 1180px; padding:100px 0; margin: 0 auto;
      display: flex; justify-content: space-between;
      flex-wrap: wrap;

      article{
        width: 280px; padding: 20px 20px 30px;
        background-color: $colorWhite;
        border-radius: 50px;
        display: flex; flex-direction: column;
        transition: 0.5s;

        .wrap{
          width: 100%; height: 240px; margin-bottom: 30px; overflow: hidden;
          border-radius: 30px;

          video{ width: 100%; height: 100%; object-fit: cover; }
        }

        h2{
          font-size: $fontSizeMedium; color: $colorBlack;
          line-height: 1; font-family: $fontCute; font-weight: normal;
          margin-bottom: 20px;
          text-shadow: 0 -4px 0 rgba($color: $colorBlue, $alpha: 1);
        }

        p{
          font-size: $fontSizeSmall; color: $colorLightGray;
          line-height: 1.3;
        }

        &:hover{
          transform: translateY(-3%); z-index: 2;
          box-shadow: 0 10px 0 rgba($color: $colorBlue, $alpha: 1);
          //box-shadow: 10px 10px 20px rgba(100,100,100,0.3);
        }

        &.off{ filter: blur(2px); }
      }
    }
  }

  // 게시판 영역
  section.board{
    width: 100%; position: relative;
    background-color: $colorBlue;

    .inner{
      width: 1180px; margin: 0 auto; padding: 100px 0 150px;

      h1{
        font-size: $fontSizeBig; font-family: $fontCute;
        text-align: center; font-weight: normal;
        text-shadow: 0 -5px 0 $colorPink; transition: 0.5s;
        margin-bottom: 20px;
      }

      ul{
        display: flex; flex-direction: column; gap: 20px;

        li{
          width: 100%; display: flex; margin-bottom: -50px; 
          
          a{
            max-width: 60%; padding: 50px; font-size: $fontSizeRegular;
            background-color: $colorWhite;
            border-radius: 30px; position: relative;
            transition: 0.5s;

            &::before{
              content: ''; display: block; width: 10px; height: 10px;
              position: absolute; top: 50%; margin-top: -5px;
              background-color: $colorWhite;
              transform: rotate(45deg);
            }

            span{
              display: block;
              font-size: $fontSizeSmall; text-align: right;
              color: $colorLightGray;
              transform: translate(15px, 25px);
            }
          }
          p{
            display: flex; flex-direction: column;
            justify-content: center; align-items: center;
            font-size: $fontSizeSmall;
            transition: 0.5s;
            
            span{
              display: block; width: 50px; height: 50px;
              overflow: hidden; border-radius: 50%;
              transition: 0.5s; 
            }
          }

          &:hover{
            a{ 
              z-index: 2;
              box-shadow: 0 10px 0 rgba($color: $colorPink, $alpha: 1);
              transform: scale(1.05);
            }
            p{
              transform: translateY(10px); color: $colorWhite; font-weight: bold;
              span{ transform: scale(2); margin-bottom: -10px; z-index: -1; }
            }
          }
          
          @for $i from 1 through 6 {
            &:nth-of-type(#{$i}) p span{ background: url(../img/reviewer#{$i}.jpg) no-repeat center/cover;}
          }

          &:nth-of-type(odd){
            justify-content: flex-start;
            a{ order: 2;
              &::before{ left: -5px; }
            }
            p{ order: 1; margin-right: 30px; }
          }
          &:nth-of-type(even){
            justify-content: flex-end;
            a{ order: 2; background-color: $colorWhiteGray;
              &::before{ right: -5px; background-color: $colorWhiteGray; }
            }
            p{ order: 2; margin-left: 30px; }
          }
        }
      }
    }
  }

  // 슬라이드 영역
  section.slides{
    width: 100%; height: 40vh;
    position: relative;
    
    .bg{
      width: 100%; height: 100%; background-color: $colorBlack;
      div{
        width: 100%; height: 100%; opacity: 0; transition: 1s;
        position: absolute; top: 0; left: 0;
        &:nth-of-type(1){ background: url(../img/section_slide_bg1.jpg) no-repeat center/cover; }
        &:nth-of-type(2){ background: url(../img/section_slide_bg2.jpg) no-repeat center/cover; }
        &:nth-of-type(3){ background: url(../img/section_slide_bg3.jpg) no-repeat center/cover; }

        &.on{ opacity: 1; }
      }
    }

    .inner{
      position: absolute; top: 0; left: 50%; transform: translateX(-50%);
      width: 1180px; height: 100%; padding: 5vh 80px;

      div{
        width: 100%; height: 100%;
        position: relative; overflow: hidden;

        .slider{
          width: calc(100% * 3); height: 100%;
          position: absolute; top: 0; left: 0;
          display: flex;
  
          article{
            width: calc(100% / 3); height: 100%;
            display: flex; flex-direction: column;
            justify-content: center; align-items: center;
    
            h1{
              font-size: $fontSizeRegular; text-align: center;
              color: $colorBlack; 
              margin-bottom: 30px;

              span{
                display: block; font-size: $fontSizeBiggest;
                font-family: $fontPoint; font-weight: normal;
                text-shadow: 0 5px 0 rgba($color: $colorWhite, $alpha: 1);
              }
            }
      
            .viewDetail{
              @include viewDetail;
            }
          }
        }
      }

      >a{
        position: absolute; top: 50%;
        transform: translateY(-50%);

        i{ font-size: $fontSizeBig; color: $colorWhite; }
        &.btnPrev{ left: 0; }
        &.btnNext{ right: 0; }
      }
    }
  }

  // 컨텍트 영역
  section.contact{
    width: 100%;
    position: relative;
    background-color: $colorPink;

    .inner{
      width: 1180px; margin: 0 auto;
      display: flex; justify-content: space-between;
      padding: 100px 0;

      .tabMenu{
        display: flex; flex-direction: column;
        justify-content: flex-start; align-items: center;

        h1{
          font-size: $fontSizeBig; font-family: $fontCute;
          text-align: center; font-weight: normal;
          text-shadow: 0 -5px 0 $colorWhite; transition: 0.5s;
          letter-spacing: -2px;
          margin-bottom: 30px;
        }

        ul{
          //border: 2px solid $colorBlack;
          border-radius: 30px;
          background-color: $colorWhite;
          overflow: hidden;

          li{
            width: 100%; padding: 30px 50px;
            display: flex; flex-direction: column; align-items: center;
            transition: 0.5s; cursor: pointer;

            i{
              max-height: 0;
              font-size: $fontSizeBig; transition: 0.3s;
              transform: translateY(30%); opacity: 0;
            }

            a{
              height: 100%;  //font-family: $fontCute;
              display: flex; justify-content: center; align-items: center;
              font-size: $fontSizeRegular; text-align: center;
              color: $colorBlack; font-weight: bold; transition: 1s;
            }

            &:nth-of-type(2) i{ transform: translateY(-30%); }
            &.on{
              background-color: $colorBlue;
              color: $colorBlack;
              i{
                max-height: unset; 
                transform: translateY(0%); opacity: 1;
              }
              a{ margin-top: 20px; }
            }
          }
        }
      }

      .tabBody{
        width: 70%;

        >div{
          width: 100%; height: 0px; overflow: hidden;

          div{
            margin-bottom: 30px;

            h2{
              font-size: $fontSizeMedium; font-family: $fontCute;
              margin-bottom: 10px;
            }
  
            p{
              font-size: $fontSizeSmall;
              color: $colorGray;
  
              span{ margin-right: 10px; }
            }
          }

          &.on{
            height: auto;
          }

          form{
            width: 100%;

            h2{
              font-size: $fontSizeMedium; font-family: $fontCute;
              margin-bottom: 10px;
            }

            p{
              font-size: $fontSizeSmall;
              margin-bottom: 30px;
              color: $colorGray;
            }

            ul{
              width: 100%;

              li{
                width: 100%; margin: 10px 0;

                &::after{ content: ''; display: block; clear: both; }

                label{
                  float: left; width: 19%; padding: 10px 0;
                  font-size: $fontSizeRegular; font-weight: bold;
                  line-height: 1.5; color: $colorBlack;
                  font-family: $fontCute;
                }
    
                input,textarea{
                  float: right; width: 80%; padding: 10px 20px;
                  font-size: $fontSizeSmall;
                  line-height: 1.5; color: $colorBlack;
                  border: 1px solid $colorBlack;
                  border-radius: 20px;
                  background-color: transparent;
                  resize: none;
                  box-shadow: none;
                  
                  &:focus{ 
                    background-color: $colorWhite;
                    border: 1px solid $colorWhite;
                    box-shadow: 0px 4px 0px rgba($color: $colorBlue, $alpha: 1);
                  }
                }

                &:last-of-type{
                  text-align: right; padding-top: 20px;

                  button{
                    @include viewDetail();
                  }
                }
              }
            }
          }

          #map{
            width: 100%; height: 30vh;
            border-radius: 20px; overflow: hidden;
            border: 1px solid $colorBlack;
            
            *{ box-sizing: content-box; margin: 0;}

            .mapInfo{
              width: 100%; padding: 10px; padding-left: 15px;
              ul{
                li{
                  &:first-of-type{
                    margin-bottom: 10px;
                    font-family: $fontPoint;
                    font-size: $fontSizeMedium;
                    font-weight: bold;
                    i{ @include logoIce; }
                  }
                  a{
                    display: block; text-align: right;
                    font-size: $fontSizeSmall;
                    color: $colorGray;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  // [ footer ]
  #footer{
    width: 100%; position: relative;
    background-color: #eee;

    .inner{
      width: 1180px; margin: 0 auto; padding: 80px 50px;

      h1{
        color: $colorGray; margin-bottom: 20px;
        font-family: $fontPoint; font-weight: normal;
        i{
          @include logoIce;
        }
      }
      
      ul{
        display: flex;

        li{
          padding-right: 10px; margin-right: 10px;
          border-right: 1px solid $colorGray;
          line-height: 1;

          a{ font-size: $fontSizeSmall; color: $colorGray; }

          &:last-of-type{
            border-right: 0; 
            a{ font-weight: bold; }
          }
        }

        &.terms{ margin-bottom: 20px; }
      }

      address{
        font-style: normal;

        ul{
          li{
            font-size: $fontSizeSmall;
            line-height: 1.5; color: $colorGray;
          }
        }
        p{
          font-size: $fontSizeSmall;
          line-height: 1.5; color: $colorGray;
        }
      }
    }
  }
}

@keyframes scrollArrow {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

// 태블릿
@media screen and (max-width: 1179px){
  body{

    // [header]
    #header{
      width:100%; height: 60px;

      .inner{
        width:100%; padding: 0 20px;
        // 로고
        h1{
          position: absolute; z-index: 20;
          &.on a{
            color: $colorBlack;
          }
        }
        #gnb{ display: none; }
        .util{ display: none; }

        // 햄버거 버튼
        .btnCall{
          display: block;
          &.on{
            &::before{
              background-color: $colorBlack;
              margin-top: 1px;
              transform-origin: right center;
              transform: rotate(-45deg);
            }
            &::after{
              background-color: $colorBlack;
              margin-bottom: 1px;
              transform-origin: right center;
              transform: rotate(45deg);
            }
            span{ opacity: 0; }
          }
        }
      }
      
      // Mobile 메뉴
      .mobileNav{
        width: 100%;

        &.on{
          transform: translateY(0);
        }

        ul{ width: 100%; }
      }
    }

    section.banner{
      .inner{ width: 100%; }
    }
    section.movies{
      .inner{ width: 100%;
        article{ width: 46%; margin: 2%; }
      }
    }
    section.slides{
      .inner{ width: 100%; padding: 5vh;
        a{ margin: 0 3%; }
      }
    }
    section.board{
      .inner{ width: 100%; padding: 50px 20px 80px;
        ul{
          li{ margin-bottom: -30px; 
            a{ max-width: 70%; }
          }
        }
      }
    }
    section.contact{
      .inner{ width: 100%; padding: 50px 20px;
        .tabBody{ width: 70%; }
        .tabMenu{ width: 20%;
          ul{
            li{ padding: 4vw;}
          }
        }
      }
    }

    // [footer]
    #footer{
      .inner{ width: 100%; }
    }
  }
}

// 모바일
@media screen and (max-width: 539px) {
  body{

    // 배너 영역
    section.banner{
      .inner{
        padding: 80px 20px;
      }
    }

    // 무비갤러리 영역
    section.movies{
      .inner{
        padding: 50px 20px;
        article{ width: 90%; margin: 5%; }
      }
    }

    // 슬라이드 영역
    section.slides{
      .inner{
        a{ margin: 0 3%; }
      }
    }

    // 게시판 영역
    section.board{
      .inner{
        ul{
          li{
            a{ max-width: 90%; 
              &::before{
                display: none;
              }
            }
            p{
              position: absolute;
              flex-direction: row;
              span{ margin-right: 10px; }
            }
            &:nth-of-type(even) p span{ order: 2; margin-right: 0; margin-left: 10px; }
          }
        }
      }
    }

    // 컨텍트 영역
    section.contact{
      .inner{ flex-wrap: wrap;
        .tabBody{ width: 100%; order: 2;
          div{
            form{
              ul{ 
                li{
                  label{ float: none; display: block; }
                  input,textarea{ float: none; width: 100%;}
                }
              }
            }
          }
        }
        .tabMenu{
          width: 100%; order: 1;
          margin-bottom: 50px;
          ul{ display: flex; }
        }
      }
    }

    // [footer]
    #footer{
      .inner{
        padding: 50px 20px;

        address{
          ul{
            display: block;
            margin-bottom: 5px;
            li{
              border: 0;
            }
          }
        }
      }
    }
  }
}